/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
.mont {
  font-family: Montserrat, sans-serif;
}
.pret {
  font-family: 'Pretendard Variable', sans-serif;
}
img {
  backface-visibility: hidden;
  image-rendering: auto;
  display: block;
}
a {
  display: inline-block;
  cursor: pointer;
}
@media screen and (min-width: 769px) and (max-width: 1599px) {
  html {
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
  }
  .web {
    display: inline-block;
  }
  .mo {
    display: none !important;
  }
  .container .wrap {
    font-size: 0vw;
    overflow: hidden;
  }
  .container .wrap header {
    width: 100%;
    height: 7.5vw;
    position: absolute;
    z-index: 10;
    zoom: 1;
  }
  .container .wrap header:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap header h1 {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-top: 1.3125vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 1.875vw;
    box-sizing: border-box;
  }
  .container .wrap header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/pc/logo.png');
    background-size: contain;
    width: 17.9375vw;
    height: 3.625vw;
  }
  .container .wrap header nav {
    display: none;
  }
  .container .wrap header .menu-wrap {
    float: right;
    height: 100%;
    padding-top: 3.125vw;
    padding-right: 3.4375vw;
    padding-bottom: 0vw;
    padding-left: 0vw;
    box-sizing: border-box;
  }
  .container .wrap header .menu-wrap .menu-list {
    text-align: center;
    height: 100%;
  }
  .container .wrap header .menu-wrap .menu-list a {
    font-size: 1vw;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    margin-top: 0vw;
    margin-right: 0.9375vw;
    margin-bottom: 0vw;
    margin-left: 0.9375vw;
    padding-bottom: 0.3125vw;
    box-sizing: border-box;
  }
  .container .wrap header .menu-wrap .menu-list a:hover {
    border-bottom: 1px solid #fff;
  }
  .container .wrap article section {
    position: relative;
  }
  .container .wrap article section h2 {
    font-size: 5vw;
    color: #000;
    padding-top: 7.5vw;
    padding-right: 0vw;
    padding-bottom: 5vw;
    padding-left: 1.875vw;
    box-sizing: border-box;
    text-align: left;
    text-transform: uppercase;
  }
  .container .wrap article section.visual:after {
    content: '';
    display: block;
    position: absolute;
    left: 33.3125vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 33.375vw;
    height: 100%;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    box-sizing: border-box;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.visual .swiper {
    width: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide {
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    position: relative;
  }
  .container .wrap article section.visual .swiper .swiper-slide img {
    width: 110%;
    height: 105%;
    transition: all 2s;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt {
    text-align: left;
    position: absolute;
    left: 1.875vw;
    bottom: 1.25vw;
    right: auto;
    top: auto;
    width: 75vw;
    height: 16vw;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p {
    font-size: 9.375vw;
    color: #fff;
    height: 8vw;
    line-height: 8vw;
    font-weight: 300;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    overflow: hidden;
    padding-top: 8vw;
    box-sizing: border-box;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(1) {
    top: 0vw;
    transition: padding-top 1s 1s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(2) {
    top: 8vw;
    transition: padding-top 1s 1.1s;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active img,
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-prev img {
    width: 100vw;
    height: 56.25vw;
    height: auto;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .txt .t-inner p {
    padding-top: 0vw;
  }
  .container .wrap article section.top {
    background-color: #e6e0d4;
    height: 63.75vw;
  }
  .container .wrap article section.top:after {
    content: '';
    display: block;
    position: absolute;
    left: 33.3125vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 33.375vw;
    height: 56.25vw;
    border-left: 1px solid #6a5121;
    border-right: 1px solid #6a5121;
    box-sizing: border-box;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.top:before {
    content: '';
    display: block;
    width: 66.6875vw;
    height: 7.5vw;
    background-color: #fff;
    position: absolute;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner div {
    position: absolute;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner div p {
    font-size: 1.5vw;
    color: #11161c;
    line-height: 1.625vw;
    font-weight: 500;
    text-transform: uppercase;
  }
  .container .wrap article section.top .top-inner .t2 {
    left: 0vw;
    top: 19.375vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner {
    position: relative;
    width: 125vw;
    height: 15.25vw;
    left: 0vw;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p {
    font-size: 9.375vw;
    font-weight: 300;
    color: #0c0f0e;
    line-height: 6.875vw;
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    transition: margin-left 3s 0s;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p s {
    color: #ee2023;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: 100%;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(2) {
    top: 8.375vw;
    margin-left: -200%;
  }
  .container .wrap article section.top .top-inner .t1,
  .container .wrap article section.top .top-inner .t3,
  .container .wrap article section.top .top-inner .t4 {
    height: 3.25vw;
  }
  .container .wrap article section.top .top-inner .t1 p,
  .container .wrap article section.top .top-inner .t3 p,
  .container .wrap article section.top .top-inner .t4 p {
    padding-top: 3.25vw;
    box-sizing: border-box;
  }
  .container .wrap article section.top .top-inner .t1 {
    left: 1.875vw;
    bottom: 10vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t1 p {
    transition: padding-top 1s 2.2s;
  }
  .container .wrap article section.top .top-inner .t3 {
    left: 35.1875vw;
    bottom: 10vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t3 p {
    font-family: 'Pretendard Variable', sans-serif;
    transition: padding-top 1s 2.6s;
  }
  .container .wrap article section.top .top-inner .t4 {
    left: 68.5625vw;
    bottom: 2.5vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t4 p {
    transition: padding-top 1s 3s;
  }
  .container .wrap article section.top .top-inner .scroll-down {
    width: 3.75vw;
    height: 3.75vw;
    position: absolute;
    right: 1.875vw;
    bottom: 2.5vw;
    left: auto;
    top: auto;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner .scroll-down img {
    width: 100%;
    height: 100%;
    margin-top: 3.75vw;
    transition: margin-top 1s 3s;
  }
  .container .wrap article section.top.active .top-inner .t1 p,
  .container .wrap article section.top.active .top-inner .t3 p,
  .container .wrap article section.top.active .top-inner .t4 p {
    padding-top: 0vw;
  }
  .container .wrap article section.top.active .top-inner .scroll-down img {
    margin-top: 0vw;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: -27%;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(2) {
    margin-left: 5%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide {
    width: 33.375vw;
    position: relative;
  }
  .container .wrap article section.values .swiper2 .swiper-slide img {
    width: 100%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .num {
    font-size: 1.125vw;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 1.875vw;
    top: 2.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap {
    position: absolute;
    left: 1.875vw;
    bottom: 3.75vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap p {
    color: #fff;
    text-align: left;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .tit {
    font-size: 2.375vw;
    line-height: 2.75vw;
    font-weight: 500;
    margin-bottom: 1.25vw;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .txt {
    font-size: 1.125vw;
    line-height: 1.625vw;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap {
    position: relative;
    height: 76.25vw;
    overflow: hidden;
  }
  .container .wrap article section.services .ser-wrap .cell {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    top: 76.25vw;
  }
  .container .wrap article section.services .ser-wrap .cell:after {
    content: '';
    display: block;
    width: 100%;
    height: 20vw;
    background-color: #222;
    position: absolute;
    left: 0vw;
    bottom: -20vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.services .ser-wrap .cell img {
    width: 33.375vw;
    height: 56.25vw;
  }
  .container .wrap article section.services .ser-wrap .cell p,
  .container .wrap article section.services .ser-wrap .cell a {
    position: absolute;
    text-align: left;
    color: #fff;
  }
  .container .wrap article section.services .ser-wrap .cell .sub-tit {
    font-size: 1.125vw;
    left: 1.875vw;
    top: 2.5vw;
    right: auto;
    bottom: auto;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .txt {
    font-size: 2.375vw;
    line-height: 2.75vw;
    font-weight: 500;
    left: 1.875vw;
    top: 25.375vw;
    right: auto;
    bottom: auto;
    text-transform: uppercase;
  }
  .container .wrap article section.services .ser-wrap .cell .kr-txt {
    font-size: 1.125vw;
    line-height: 1.625vw;
    color: #fff;
    position: absolute;
    left: 1.875vw;
    bottom: 3.75vw;
    right: auto;
    top: auto;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .detail {
    right: 1.875vw;
    bottom: 3.75vw;
    left: auto;
    top: auto;
    width: 8.125vw;
    height: 3.5vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-detail.svg');
    background-size: contain;
  }
  .container .wrap article section.services .ser-wrap .cell .detail img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.services .ser-wrap .cell .detail:hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-detail-hover.svg');
    background-size: contain;
  }
  .container .wrap article section.services .ser-wrap .cell:nth-child(1) {
    transition: top 0.8s 0.2s;
  }
  .container .wrap article section.services .ser-wrap .cell:nth-child(2) {
    transition: top 0.8s 0.4s;
  }
  .container .wrap article section.services .ser-wrap .cell:nth-child(3) {
    transition: top 0.8s 0.6s;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(1) {
    top: 0vw;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(2) {
    left: 33.3125vw;
    top: 10vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(3) {
    left: 66.6875vw;
    top: 20vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects {
    background-color: #222;
  }
  .container .wrap article section.projects h2 {
    color: #fff;
  }
  .container .wrap article section.projects .proj-swiper {
    padding-left: 1.875vw;
    height: 71.25vw;
    box-sizing: border-box;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide {
    width: 51.75vw;
    position: relative;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner {
    position: relative;
    width: 51.75vw;
    height: 51.75vw;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner .dim {
    width: 38.75vw;
    height: 38.75vw;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner img {
    width: 38.75vw;
    height: 38.75vw;
    margin-bottom: 1.25vw;
    transition: width 0.5s, height 0.5s;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p {
    font-size: 1.125vw;
    line-height: 1.625vw;
    color: #fff;
    display: inline-block;
    transition: all 0.5s;
    text-transform: uppercase;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.en-name {
    position: absolute;
    left: 0vw;
    top: 46.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.kr-name {
    width: 12.5vw;
    position: absolute;
    left: 50%;
    top: 46.5vw;
    right: auto;
    bottom: auto;
    margin-left: 13.375vw;
    text-align: right;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj {
    width: 38.75vw;
    height: 38.75vw;
    position: absolute;
    left: 0vw;
    top: 6.25vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj .view-btn {
    width: 8.125vw;
    height: 3.5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-proj.svg');
    background-size: contain;
    z-index: 1;
    display: none;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj .view-btn:hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-proj-hover.svg');
    background-size: contain;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj:hover .view-btn {
    display: inline-block;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner .dim {
    width: 51.75vw;
    height: 51.75vw;
    opacity: 0;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner img {
    width: 51.75vw;
    height: 51.75vw;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active p.en-name {
    top: 53vw;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active p.kr-name {
    top: 53vw;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .view-proj {
    width: 51.75vw;
    height: 51.75vw;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner .dim,
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner img {
    width: 38.75vw;
    height: 38.75vw;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-prev .s-inner .dim {
    width: 100%;
    height: 100%;
    transition: opacity 0s 1s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide:hover .s-inner .dim {
    opacity: 0.6;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide:hover .view-proj:after {
    display: inline-block;
  }
  .container .wrap article section.projects .swiper-button {
    top: 8.5vw;
    width: 3.75vw;
    height: 3.75vw;
  }
  .container .wrap article section.projects .swiper-button:after {
    display: none;
  }
  .container .wrap article section.projects .swiper-button.swiper-button-prev {
    left: 89.125vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/icon-arrow-prev.svg');
    background-size: contain;
  }
  .container .wrap article section.projects .swiper-button.swiper-button-next {
    right: auto;
    left: 94.375vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/icon-arrow-next.svg');
    background-size: contain;
  }
  .container .wrap article section.work {
    background-color: #e6e0d4;
    height: 144.5625vw;
  }
  .container .wrap article section.work .cell {
    position: absolute;
  }
  .container .wrap article section.work .cell .img-wrap {
    position: relative;
  }
  .container .wrap article section.work .cell .img-wrap img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.work .cell .img-wrap p {
    font-size: 3.125vw;
    line-height: 3vw;
    color: #fff;
    text-align: center;
    width: 21.875vw;
    height: 6vw;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -3vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -10.9375vw;
    text-transform: uppercase;
  }
  .container .wrap article section.work .cell .t-wrap {
    padding-top: 2.5vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 1.875vw;
    box-sizing: border-box;
  }
  .container .wrap article section.work .cell .t-wrap p {
    font-family: 'Pretendard Variable', sans-serif;
    text-align: left;
  }
  .container .wrap article section.work .cell .t-wrap p.tit {
    font-size: 1.5vw;
    line-height: 1.5vw;
    margin-bottom: 1.25vw;
    font-weight: 500;
  }
  .container .wrap article section.work .cell .t-wrap p.txt {
    font-size: 1.125vw;
    line-height: 1.625vw;
  }
  .container .wrap article section.work .cell:nth-of-type(1) {
    left: 0vw;
    top: 17.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(1) .img-wrap {
    width: 48.125vw;
    height: 29.875vw;
  }
  .container .wrap article section.work .cell:nth-of-type(2) {
    right: 0vw;
    top: 34vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(2) .img-wrap {
    width: 33.25vw;
    height: 43.75vw;
  }
  .container .wrap article section.work .cell:nth-of-type(3) {
    left: 22.5vw;
    top: 67.125vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(3) .img-wrap {
    width: 33.9375vw;
    height: 47.3125vw;
  }
  .container .wrap article section.recruit {
    background-color: #222;
    overflow: hidden;
    padding-bottom: 5.8125vw;
    box-sizing: border-box;
  }
  .container .wrap article section.recruit h3 {
    font-size: 9.375vw;
    line-height: 8.75vw;
    text-align: center;
    color: #fafafa;
    margin-top: 12.5vw;
    margin-right: 0vw;
    margin-bottom: 1.25vw;
    margin-left: 0vw;
  }
  .container .wrap article section.recruit .txt {
    font-size: 1.125vw;
    color: #fafafa;
    text-align: center;
    margin-bottom: 4.375vw;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.recruit .recruit-btn {
    width: 11.875vw;
    height: 4.75vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-repeat: no-repeat;
    background-image: url('../img/pc/recruit-btn.svg');
    background-size: contain;
  }
  .container .wrap article section.recruit .chats .c-wrap {
    position: absolute;
  }
  .container .wrap article section.recruit .chats .c-wrap p {
    font-size: 1vw;
    font-family: 'Pretendard Variable', sans-serif;
    color: #fafafa;
    position: relative;
    z-index: 1;
    padding-top: 0.375vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 1vw;
    box-sizing: border-box;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1 {
    left: 17.5vw;
    top: 10vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1:after {
    content: '';
    display: block;
    width: 7.4375vw;
    height: 2.6875vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-1.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2 {
    left: 67.9375vw;
    top: 10.625vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2:after {
    content: '';
    display: block;
    width: 16vw;
    height: 2.8125vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-2.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3 {
    left: 15.9375vw;
    top: 30.5625vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3:after {
    content: '';
    display: block;
    width: 11.6875vw;
    height: 2.625vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-3.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4 {
    left: 79.1875vw;
    top: 28vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4:after {
    content: '';
    display: block;
    width: 7.4375vw;
    height: 2.5vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-4.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5 {
    left: 67.625vw;
    top: 32.75vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5:after {
    content: '';
    display: block;
    width: 8.3125vw;
    height: 2.5vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-5.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .btm {
    width: 26.9375vw;
    height: 0.75vw;
    position: absolute;
    left: 52.4375vw;
    top: 21.25vw;
    right: auto;
    bottom: auto;
    opacity: 0;
  }
  .container .wrap article section.recruit .btm svg {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.recruit .arrow {
    width: 24.4375vw;
    height: 23.625vw;
    position: absolute;
    left: 15vw;
    top: 31.5625vw;
    right: auto;
    bottom: auto;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }
  .container .wrap article section.recruit .arrow svg {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.recruit.active .btm,
  .container .wrap article section.recruit.active .arrow {
    opacity: 1;
  }
  .container .wrap article section.contact {
    background-color: #8e2626;
    padding-top: 5.625vw;
    padding-right: 0vw;
    padding-bottom: 2.5vw;
    padding-left: 0vw;
    box-sizing: border-box;
    height: 31.4375vw;
  }
  .container .wrap article section.contact:after {
    content: '';
    display: block;
    position: absolute;
    left: 33.25vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 33.375vw;
    height: 100%;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.contact .cell {
    display: inline-block;
    width: 33.3%;
    text-align: left;
    vertical-align: top;
    padding-left: 1.875vw;
    box-sizing: border-box;
  }
  .container .wrap article section.contact .cell p {
    text-transform: uppercase;
  }
  .container .wrap article section.contact .cell p.tit {
    font-size: 1.5vw;
    color: #eee;
    font-weight: 500;
    margin-bottom: 1.5vw;
  }
  .container .wrap article section.contact .cell p.txt {
    font-size: 1.125vw;
    line-height: 2.3125vw;
    color: #fafafa;
    font-family: 'Pretendard Variable', sans-serif;
    opacity: 0.8;
  }
  .container .wrap article section.contact .cell a {
    font-size: 1.125vw;
    color: #fafafa;
    opacity: 0.8;
    text-transform: uppercase;
    margin-bottom: 1vw;
    display: block;
  }
  .container .wrap article section.contact .cell a span {
    width: 1vw;
    height: 1vw;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('../img/pc/arrow.svg');
    background-size: contain;
  }
  .container .wrap article section.contact .cell .tel,
  .container .wrap article section.contact .cell .fax {
    font-size: 1.125vw;
    color: #fafafa;
    opacity: 0.8;
    margin-bottom: 1vw;
    text-transform: none;
  }
  .container .wrap article section.contact .cell .tel s,
  .container .wrap article section.contact .cell .fax s {
    display: inline-block;
    width: 3.75vw;
  }
  .container .wrap article section.contact .copy {
    font-size: 1.125vw;
    color: #fafafa;
    opacity: 0.8;
    position: absolute;
    left: 1.875vw;
    top: 27.5625vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 0vw;
    right: auto;
    bottom: auto;
    margin-left: -50vw;
    z-index: 20;
    display: none;
  }
  .container .wrap .popup .holder {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 20;
  }
  .container .wrap .popup .holder .pop-inner {
    position: relative;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide {
    min-height: 67.5vw;
    height: 100vh;
    padding-top: 7.5vw;
    padding-right: 4.375vw;
    padding-bottom: 7.5vw;
    padding-left: 4.375vw;
    box-sizing: border-box;
    text-align: left;
    zoom: 1;
    background-color: #8e2626;
    position: relative;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide h3 {
    font-size: 4.5vw;
    line-height: 5.5vw;
    color: #fff;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap {
    position: absolute;
    left: 48.3125vw;
    top: 8.125vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap p {
    color: #fff;
    font-family: 'Pretendard Variable', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap p.tit {
    font-size: 2.375vw;
    font-weight: 500;
    margin-bottom: 1.5625vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap p.sub-tit {
    font-size: 1.5vw;
    margin-bottom: 0.625vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap p.txt {
    font-size: 1.125vw;
    line-height: 1.625vw;
    opacity: 0.8;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g1 {
    width: 72.625vw;
    height: 10.125vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15.8125vw;
    display: block;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g2 {
    width: 37.625vw;
    height: 40.125vw;
    position: absolute;
    left: 21.1875vw;
    top: 23.125vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g3 {
    width: 27.625vw;
    height: 30.125vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
    display: block;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide span {
    font-size: 1.125vw;
    color: #eee;
    font-weight: 500;
    position: absolute;
    left: 75.4375vw;
    top: 46.8125vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best {
    text-align: left;
    color: #fff;
    position: absolute;
    left: 66.1875vw;
    top: 34.6875vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best .sub-tit {
    font-size: 1.5vw;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-bottom: 2.5vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best ul li .tit,
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best ul li .txt {
    font-size: 1.125vw;
    font-weight: 700;
    margin-bottom: 0.5vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best ul li .txt {
    margin-bottom: 1.5vw;
    font-weight: 400;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide + .swiper-slide .t-wrap p.tit {
    margin-bottom: 2vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide + .swiper-slide .t-wrap p.sub-tit {
    margin-bottom: 0.6875vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-pagination {
    display: none;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button {
    width: 3.75vw;
    height: 3.75vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button:after {
    display: none;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button.swiper-button-disabled {
    opacity: 0.5;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button.swiper-button-prev {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-prev.svg');
    background-size: contain;
    left: 4.375vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button.swiper-button-next {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-next.svg');
    background-size: contain;
    right: 4.375vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-close {
    width: 2.75vw;
    height: 2.75vw;
    position: absolute;
    right: 3.75vw;
    top: 3.75vw;
    left: auto;
    bottom: auto;
    z-index: 5;
  }
  .container .wrap .popup .holder .pop-inner .pop-close img {
    width: 100%;
    height: 100%;
  }
  .container .wrap .popup.open {
    display: inline-block;
  }
}
/*# sourceMappingURL=style-t.css.map */