/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
.mont {
  font-family: Montserrat, sans-serif;
}
.pret {
  font-family: Pretendard, sans-serif;
}
img {
  backface-visibility: hidden;
  image-rendering: auto;
  display: block;
}
a {
  display: inline-block;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  html {
    font-family: Montserrat, sans-serif;
  }
  .web {
    display: none;
  }
  .mo {
    display: inline-block;
  }
  .container .wrap {
    font-size: 0vw;
  }
  .container .wrap header {
    width: 100vw;
    height: 16vw;
    line-height: 16vw;
    padding-top: 2.66666667vw;
    padding-right: 4.8vw;
    padding-bottom: 2.66666667vw;
    padding-left: 4.8vw;
    box-sizing: border-box;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    z-index: 10;
    zoom: 1;
  }
  .container .wrap header:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap header h1 {
    display: inline-block;
  }
  .container .wrap header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/mo/logo.png');
    background-size: contain;
    width: 38.4vw;
    height: 7.73333333vw;
  }
  .container .wrap header nav {
    width: 10.66666667vw;
    height: 10.66666667vw;
    display: inline-block;
    float: right;
  }
  .container .wrap header nav .menu {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/mo/btn-menu.png');
    background-size: contain;
  }
  .container .wrap header .menu-wrap {
    width: 100%;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -38.93333333vw;
    display: none;
  }
  .container .wrap header .menu-wrap .menu-list {
    text-align: center;
  }
  .container .wrap header .menu-wrap .menu-list a {
    font-size: 8.53333333vw;
    color: #fff;
    display: block;
    line-height: 10.4vw;
    margin-bottom: 6.4vw;
    font-weight: 300;
  }
  .container .wrap header .menu-wrap .menu-list a:last-child {
    margin-bottom: 0vw;
  }
  .container .wrap header.open {
    background-color: #8e2626;
    height: 100vh;
    line-height: normal;
  }
  .container .wrap header.open h1 a {
    background-image: url('../img/mo/logo-w.png');
  }
  .container .wrap header.open nav .menu {
    background-image: url('../img/mo/btn-close.svg');
  }
  .container .wrap header.open .menu-wrap {
    display: inline-block;
  }
  .container .wrap article section {
    position: relative;
  }
  .container .wrap article section h2 {
    font-size: 10.66666667vw;
    color: #000;
    margin-top: 21.33333333vw;
    margin-right: 0vw;
    margin-bottom: 10.66666667vw;
    margin-left: 0vw;
    text-align: left;
    padding-left: 4.8vw;
    box-sizing: border-box;
  }
  .container .wrap article section.visual:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 0.26666667vw;
    height: 100%;
    background-color: #fff;
    margin-left: -0.26666667vw;
    opacity: 0.5;
    z-index: 1;
  }
  .container .wrap article section.visual .swiper {
    width: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide {
    width: 100vw;
    height: 177.86666667vw;
    overflow: hidden;
    position: relative;
  }
  .container .wrap article section.visual .swiper .swiper-slide img {
    width: 110%;
    height: 105%;
    transition: all 2s;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt {
    text-align: left;
    position: absolute;
    left: 4.8vw;
    bottom: 5.33333333vw;
    right: auto;
    top: auto;
    width: 70.13333333vw;
    height: 38.4vw;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p {
    font-size: 13.86666667vw;
    color: #fff;
    height: 12.8vw;
    line-height: 12.8vw;
    font-weight: 300;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    overflow: hidden;
    padding-top: 12.8vw;
    box-sizing: border-box;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(1) {
    top: 0vw;
    transition: padding-top 1.5s 1.5s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(2) {
    top: 12.8vw;
    transition: padding-top 1.5s 1.7s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(3) {
    top: 25.6vw;
    transition: padding-top 1.5s 1.9s;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active img,
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-prev img {
    width: 100%;
    height: auto;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .txt .t-inner p {
    padding-top: 0vw;
  }
  .container .wrap article section.top {
    background-color: #e6e0d4;
    height: 188.53333333vw;
  }
  .container .wrap article section.top:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 0.26666667vw;
    height: 177.86666667vw;
    background-color: #6a5121;
    margin-left: -0.26666667vw;
    opacity: 0.5;
    z-index: 1;
  }
  .container .wrap article section.top:before {
    content: '';
    display: block;
    width: 49.86666667vw;
    height: 10.66666667vw;
    background-color: #fff;
    position: absolute;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner div {
    position: absolute;
    left: 4.8vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner div p {
    font-size: 4.8vw;
    color: #11161c;
    line-height: 5.86666667vw;
    font-weight: 500;
    text-transform: uppercase;
  }
  .container .wrap article section.top .top-inner .t1,
  .container .wrap article section.top .top-inner .t3,
  .container .wrap article section.top .top-inner .t4 {
    top: 5.33333333vw;
    height: 11.73333333vw;
  }
  .container .wrap article section.top .top-inner .t1 p,
  .container .wrap article section.top .top-inner .t3 p,
  .container .wrap article section.top .top-inner .t4 p {
    padding-top: 11.73333333vw;
    box-sizing: border-box;
    transition: padding-top 1s 1.5s;
  }
  .container .wrap article section.top .top-inner .t2 {
    left: 0vw;
    top: 64vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner {
    position: relative;
    width: 100vw;
    height: 27.73333333vw;
    left: 0vw;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p {
    font-size: 13.86666667vw;
    font-weight: 300;
    line-height: 12.8vw;
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    transition: margin-left 2s 0s;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p s {
    color: #ee2023;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: 100%;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(2) {
    top: 14.93333333vw;
    margin-left: -200%;
  }
  .container .wrap article section.top .top-inner .t3 {
    top: 96vw;
  }
  .container .wrap article section.top .top-inner .t3 p {
    font-family: Pretendard, sans-serif;
  }
  .container .wrap article section.top .top-inner .t4 {
    top: 160.8vw;
  }
  .container .wrap article section.top.active .top-inner .t1 p,
  .container .wrap article section.top.active .top-inner .t3 p,
  .container .wrap article section.top.active .top-inner .t4 p {
    padding-top: 0vw;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: -85%;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(2) {
    margin-left: 5%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide {
    width: 80vw;
    position: relative;
  }
  .container .wrap article section.values .swiper2 .swiper-slide img {
    width: 100%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .num {
    font-size: 3.73333333vw;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 4.8vw;
    top: 8vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap {
    position: absolute;
    left: 4.8vw;
    bottom: 8vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap p {
    color: #fff;
    text-align: left;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .tit {
    font-size: 6.4vw;
    font-weight: 500;
    margin-bottom: 2.13333333vw;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .txt {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    font-family: Pretendard, sans-serif;
  }
  .container .wrap article section.services .ser-wrap {
    position: relative;
    height: 177.6vw;
    overflow: hidden;
  }
  .container .wrap article section.services .ser-wrap .cell {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    top: 177.6vw;
  }
  .container .wrap article section.services .ser-wrap .cell img {
    width: 100vw;
    height: 59.2vw;
  }
  .container .wrap article section.services .ser-wrap .cell p,
  .container .wrap article section.services .ser-wrap .cell a {
    position: absolute;
    text-align: left;
    color: #fff;
  }
  .container .wrap article section.services .ser-wrap .cell .sub-tit {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    left: 4.8vw;
    top: 8vw;
    right: auto;
    bottom: auto;
    font-family: Pretendard, sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .txt {
    font-size: 6.4vw;
    line-height: 6.93333333vw;
    font-weight: 500;
    left: 4.8vw;
    bottom: 8vw;
    right: auto;
    top: auto;
    text-transform: uppercase;
  }
  .container .wrap article section.services .ser-wrap .cell a {
    right: 4.8vw;
    bottom: 8vw;
    left: auto;
    top: auto;
  }
  .container .wrap article section.services .ser-wrap .cell a img {
    width: 26.66666667vw;
    height: 10.66666667vw;
  }
  .container .wrap article section.services .ser-wrap .cell:nth-child(1) {
    transition: top 0.8s 0.2s;
  }
  .container .wrap article section.services .ser-wrap .cell:nth-child(2) {
    transition: top 0.8s 0.4s;
  }
  .container .wrap article section.services .ser-wrap .cell:nth-child(3) {
    transition: top 0.8s 0.6s;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(1) {
    top: 0vw;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(2) {
    top: 59.2vw;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(3) {
    top: 118.4vw;
  }
  .container .wrap .popup {
    width: 100vw;
    position: fixed;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 20;
  }
  .container .wrap .popup .holder {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 20;
  }
  .container .wrap .popup .holder .pop-inner {
    position: relative;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide {
    padding-top: 18.66666667vw;
    padding-right: 0vw;
    padding-bottom: 34.13333333vw;
    padding-left: 0vw;
    box-sizing: border-box;
    text-align: left;
    zoom: 1;
    background-color: #8e2626;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide h3 {
    font-size: 8.53333333vw;
    line-height: 10.4vw;
    color: #fff;
    margin-bottom: 6.4vw;
    padding-left: 4.8vw;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide p {
    color: #fff;
    padding-left: 4.8vw;
    box-sizing: border-box;
    font-family: Pretendard, sans-serif;
    text-transform: uppercase;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide p.tit {
    font-size: 6.4vw;
    font-weight: 500;
    line-height: 6.93333333vw;
    margin-bottom: 3.2vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide p.sub-tit {
    font-size: 4.8vw;
    line-height: 5.86666667vw;
    margin-bottom: 2.13333333vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide p.txt {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    margin-bottom: 13.33333333vw;
    opacity: 0.8;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g1 {
    width: 100vw;
    height: 64vw;
    margin-bottom: 6.4vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g2 {
    width: 85.86666667vw;
    height: 101.86666667vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10.66666667vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g3 {
    width: 80.53333333vw;
    height: 80.53333333vw;
    margin-left: auto;
    margin-right: auto;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide span {
    font-size: 3.2vw;
    color: #eee;
    float: right;
    padding-right: 4.8vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g2 + .sub-tit {
    font-family: Montserrat, sans-serif;
    margin-bottom: 4.26666667vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide ul {
    padding-left: 4.8vw;
    box-sizing: border-box;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide ul li {
    display: inline-block;
    text-align: left;
    width: 33.3%;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide ul li .tit,
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide ul li .txt {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    font-weight: 700;
    margin-bottom: 1.06666667vw;
    padding-left: 0vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide ul li .txt {
    font-weight: 400;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-pagination {
    bottom: 18.66666667vw;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 2.13333333vw;
    height: 2.13333333vw;
    border: 1px solid #fff;
    background-color: #8e2626;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 0vw;
    margin-right: 3.2vw;
    margin-bottom: 0vw;
    margin-left: 3.2vw;
    opacity: 1;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
  }
  .container .wrap .popup .holder .pop-inner .pop-close {
    width: 6.93333333vw;
    height: 6.93333333vw;
    position: absolute;
    right: 4.8vw;
    top: 5.33333333vw;
    left: auto;
    bottom: auto;
    z-index: 5;
  }
  .container .wrap .popup .holder .pop-inner .pop-close img {
    width: 100%;
    height: 100%;
  }
  .container .wrap .popup.open {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */