/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
.mont {
  font-family: Montserrat, sans-serif;
}
.pret {
  font-family: 'Pretendard Variable', sans-serif;
}
img {
  backface-visibility: hidden;
  image-rendering: auto;
  display: block;
}
a {
  display: inline-block;
  cursor: pointer;
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
  }
  .web {
    display: inline-block;
  }
  .mo {
    display: none !important;
  }
  .container .wrap {
    font-size: 0rem;
    overflow: hidden;
    width: 88.88888889rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container .wrap header {
    width: 100%;
    height: 6.66666667rem;
    position: absolute;
    width: 88.88888889rem;
    z-index: 10;
    zoom: 1;
  }
  .container .wrap header:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap header h1 {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-top: 1.16666667rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 1.66666667rem;
    box-sizing: border-box;
  }
  .container .wrap header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/pc/logo.png');
    background-size: contain;
    width: 15.94444444rem;
    height: 3.22222222rem;
  }
  .container .wrap header nav {
    display: none;
  }
  .container .wrap header .menu-wrap {
    float: right;
    height: 100%;
    padding-top: 2.77777778rem;
    padding-right: 3.05555556rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    box-sizing: border-box;
  }
  .container .wrap header .menu-wrap .menu-list {
    text-align: center;
    height: 100%;
  }
  .container .wrap header .menu-wrap .menu-list a {
    font-size: 0.88888889rem;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    margin-top: 0rem;
    margin-right: 0.83333333rem;
    margin-bottom: 0rem;
    margin-left: 0.83333333rem;
    padding-bottom: 0.27777778rem;
    box-sizing: border-box;
  }
  .container .wrap header .menu-wrap .menu-list a:hover {
    border-bottom: 1px solid #fff;
  }
  .container .wrap article section {
    position: relative;
  }
  .container .wrap article section h2 {
    font-size: 4.44444444rem;
    color: #000;
    padding-top: 6.66666667rem;
    padding-right: 0rem;
    padding-bottom: 4.44444444rem;
    padding-left: 1.66666667rem;
    box-sizing: border-box;
    text-align: left;
    text-transform: uppercase;
  }
  .container .wrap article section.visual:after {
    content: '';
    display: block;
    position: absolute;
    left: 29.61111111rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    width: 29.66666667rem;
    height: 100%;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    box-sizing: border-box;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.visual .swiper {
    width: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide {
    width: 88.88888889rem;
    height: 50rem;
    overflow: hidden;
    position: relative;
  }
  .container .wrap article section.visual .swiper .swiper-slide img {
    width: 110%;
    height: 105%;
    transition: all 2s;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt {
    text-align: left;
    position: absolute;
    left: 1.66666667rem;
    bottom: 1.11111111rem;
    right: auto;
    top: auto;
    width: 66.66666667rem;
    height: 14.22222222rem;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p {
    font-size: 8.33333333rem;
    color: #fff;
    height: 7.11111111rem;
    line-height: 7.11111111rem;
    font-weight: 300;
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    overflow: hidden;
    padding-top: 7.11111111rem;
    box-sizing: border-box;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(1) {
    top: 0rem;
    transition: padding-top 1s 1s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(2) {
    top: 7.11111111rem;
    transition: padding-top 1s 1.1s;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active img,
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-prev img {
    width: 88.88888889rem;
    height: 50rem;
    height: auto;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .txt .t-inner p {
    padding-top: 0rem;
  }
  .container .wrap article section.top {
    background-color: #e6e0d4;
    height: 56.66666667rem;
  }
  .container .wrap article section.top:after {
    content: '';
    display: block;
    position: absolute;
    left: 29.61111111rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    width: 29.66666667rem;
    height: 50rem;
    border-left: 1px solid #6a5121;
    border-right: 1px solid #6a5121;
    box-sizing: border-box;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.top:before {
    content: '';
    display: block;
    width: 59.27777778rem;
    height: 6.66666667rem;
    background-color: #fff;
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner div {
    position: absolute;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner div p {
    font-size: 1.33333333rem;
    color: #11161c;
    line-height: 1.44444444rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .container .wrap article section.top .top-inner .t2 {
    left: 0rem;
    top: 17.22222222rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner {
    position: relative;
    width: 111.11111111rem;
    height: 13.55555556rem;
    left: 0rem;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p {
    font-size: 8.33333333rem;
    font-weight: 300;
    color: #0c0f0e;
    line-height: 6.11111111rem;
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    transition: margin-left 3s 0s;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p s {
    color: #ee2023;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: 100%;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(2) {
    top: 7.44444444rem;
    margin-left: -200%;
  }
  .container .wrap article section.top .top-inner .t1,
  .container .wrap article section.top .top-inner .t3,
  .container .wrap article section.top .top-inner .t4 {
    height: 2.88888889rem;
  }
  .container .wrap article section.top .top-inner .t1 p,
  .container .wrap article section.top .top-inner .t3 p,
  .container .wrap article section.top .top-inner .t4 p {
    padding-top: 2.88888889rem;
    box-sizing: border-box;
  }
  .container .wrap article section.top .top-inner .t1 {
    left: 1.66666667rem;
    bottom: 8.88888889rem;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t1 p {
    transition: padding-top 1s 2.2s;
  }
  .container .wrap article section.top .top-inner .t3 {
    left: 31.27777778rem;
    bottom: 8.88888889rem;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t3 p {
    font-family: 'Pretendard Variable', sans-serif;
    transition: padding-top 1s 2.6s;
  }
  .container .wrap article section.top .top-inner .t4 {
    left: 60.94444444rem;
    bottom: 2.22222222rem;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t4 p {
    transition: padding-top 1s 3s;
  }
  .container .wrap article section.top .top-inner .scroll-down {
    width: 3.33333333rem;
    height: 3.33333333rem;
    position: absolute;
    right: 1.66666667rem;
    bottom: 2.22222222rem;
    left: auto;
    top: auto;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner .scroll-down img {
    width: 100%;
    height: 100%;
    margin-top: 3.33333333rem;
    transition: margin-top 1s 3s;
  }
  .container .wrap article section.top.active .top-inner .t1 p,
  .container .wrap article section.top.active .top-inner .t3 p,
  .container .wrap article section.top.active .top-inner .t4 p {
    padding-top: 0rem;
  }
  .container .wrap article section.top.active .top-inner .scroll-down img {
    margin-top: 0rem;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: -27%;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(2) {
    margin-left: 5%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide {
    width: 29.66666667rem;
    position: relative;
  }
  .container .wrap article section.values .swiper2 .swiper-slide img {
    width: 100%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .num {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 1.66666667rem;
    top: 2.22222222rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap {
    position: absolute;
    left: 1.66666667rem;
    bottom: 3.33333333rem;
    right: auto;
    top: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap p {
    color: #fff;
    text-align: left;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .tit {
    font-size: 2.11111111rem;
    line-height: 2.44444444rem;
    font-weight: 500;
    margin-bottom: 1.11111111rem;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .txt {
    font-size: 1rem;
    line-height: 1.44444444rem;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap {
    position: relative;
    height: 67.77777778rem;
    overflow: hidden;
  }
  .container .wrap article section.services .ser-wrap .cell {
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    top: 67.77777778rem;
  }
  .container .wrap article section.services .ser-wrap .cell:after {
    content: '';
    display: block;
    width: 100%;
    height: 17.77777778rem;
    background-color: #222;
    position: absolute;
    left: 0rem;
    bottom: -17.77777778rem;
    right: auto;
    top: auto;
  }
  .container .wrap article section.services .ser-wrap .cell img {
    width: 29.66666667rem;
    height: 50rem;
  }
  .container .wrap article section.services .ser-wrap .cell p,
  .container .wrap article section.services .ser-wrap .cell a {
    position: absolute;
    text-align: left;
    color: #fff;
  }
  .container .wrap article section.services .ser-wrap .cell .sub-tit {
    font-size: 1rem;
    left: 1.66666667rem;
    top: 2.22222222rem;
    right: auto;
    bottom: auto;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .txt {
    font-size: 2.11111111rem;
    line-height: 2.44444444rem;
    font-weight: 500;
    left: 1.66666667rem;
    top: 22.55555556rem;
    right: auto;
    bottom: auto;
    text-transform: uppercase;
  }
  .container .wrap article section.services .ser-wrap .cell .kr-txt {
    font-size: 1rem;
    line-height: 1.44444444rem;
    color: #fff;
    position: absolute;
    left: 1.66666667rem;
    bottom: 3.33333333rem;
    right: auto;
    top: auto;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .detail {
    right: 1.66666667rem;
    bottom: 3.33333333rem;
    left: auto;
    top: auto;
    width: 7.22222222rem;
    height: 3.11111111rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-detail.svg');
    background-size: contain;
  }
  .container .wrap article section.services .ser-wrap .cell .detail img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.services .ser-wrap .cell .detail:hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-detail-hover.svg');
    background-size: contain;
  }
  .container .wrap article section.services .ser-wrap .cell:nth-child(1) {
    transition: top 0.8s 0.2s;
  }
  .container .wrap article section.services .ser-wrap .cell:nth-child(2) {
    transition: top 0.8s 0.4s;
  }
  .container .wrap article section.services .ser-wrap .cell:nth-child(3) {
    transition: top 0.8s 0.6s;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(1) {
    top: 0rem;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(2) {
    left: 29.61111111rem;
    top: 8.88888889rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(3) {
    left: 59.27777778rem;
    top: 17.77777778rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects {
    background-color: #222;
  }
  .container .wrap article section.projects h2 {
    color: #fff;
  }
  .container .wrap article section.projects .proj-swiper {
    padding-left: 1.66666667rem;
    height: 63.33333333rem;
    box-sizing: border-box;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide {
    width: 46rem;
    position: relative;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner {
    position: relative;
    width: 46rem;
    height: 46rem;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner .dim {
    width: 34.44444444rem;
    height: 34.44444444rem;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    left: 0rem;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner img {
    width: 34.44444444rem;
    height: 34.44444444rem;
    margin-bottom: 1.11111111rem;
    transition: width 0.5s, height 0.5s;
    position: absolute;
    left: 0rem;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p {
    font-size: 1rem;
    line-height: 1.44444444rem;
    color: #fff;
    display: inline-block;
    transition: all 0.5s;
    text-transform: uppercase;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.en-name {
    position: absolute;
    left: 0rem;
    top: 41.33333333rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.kr-name {
    width: 11.11111111rem;
    position: absolute;
    left: 50%;
    top: 41.33333333rem;
    right: auto;
    bottom: auto;
    margin-left: 11.88888889rem;
    text-align: right;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj {
    width: 34.44444444rem;
    height: 34.44444444rem;
    position: absolute;
    left: 0rem;
    top: 5.55555556rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj .view-btn {
    width: 7.22222222rem;
    height: 3.11111111rem;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-proj.svg');
    background-size: contain;
    z-index: 1;
    display: none;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj .view-btn:hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-proj-hover.svg');
    background-size: contain;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj:hover .view-btn {
    display: inline-block;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner .dim {
    width: 46rem;
    height: 46rem;
    opacity: 0;
    position: absolute;
    left: 0rem;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner img {
    width: 46rem;
    height: 46rem;
    position: absolute;
    left: 0rem;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active p.en-name {
    top: 47.11111111rem;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active p.kr-name {
    top: 47.11111111rem;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .view-proj {
    width: 46rem;
    height: 46rem;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner .dim,
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner img {
    width: 34.44444444rem;
    height: 34.44444444rem;
    position: absolute;
    left: 0rem;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-prev .s-inner .dim {
    width: 100%;
    height: 100%;
    transition: opacity 0s 1s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide:hover .s-inner .dim {
    opacity: 0.6;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide:hover .view-proj:after {
    display: inline-block;
  }
  .container .wrap article section.projects .swiper-button {
    top: 7.55555556rem;
    width: 3.33333333rem;
    height: 3.33333333rem;
  }
  .container .wrap article section.projects .swiper-button:after {
    display: none;
  }
  .container .wrap article section.projects .swiper-button.swiper-button-prev {
    left: 79.22222222rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/icon-arrow-prev.svg');
    background-size: contain;
  }
  .container .wrap article section.projects .swiper-button.swiper-button-next {
    right: auto;
    left: 83.88888889rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/icon-arrow-next.svg');
    background-size: contain;
  }
  .container .wrap article section.work {
    background-color: #e6e0d4;
    height: 128.5rem;
  }
  .container .wrap article section.work .cell {
    position: absolute;
  }
  .container .wrap article section.work .cell .img-wrap {
    position: relative;
  }
  .container .wrap article section.work .cell .img-wrap img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.work .cell .img-wrap p {
    font-size: 2.77777778rem;
    line-height: 2.66666667rem;
    color: #fff;
    text-align: center;
    width: 19.44444444rem;
    height: 5.33333333rem;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -2.66666667rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: -9.72222222rem;
    text-transform: uppercase;
  }
  .container .wrap article section.work .cell .t-wrap {
    padding-top: 2.22222222rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 1.66666667rem;
    box-sizing: border-box;
  }
  .container .wrap article section.work .cell .t-wrap p {
    font-family: 'Pretendard Variable', sans-serif;
    text-align: left;
  }
  .container .wrap article section.work .cell .t-wrap p.tit {
    font-size: 1.33333333rem;
    line-height: 1.33333333rem;
    margin-bottom: 1.11111111rem;
    font-weight: 500;
  }
  .container .wrap article section.work .cell .t-wrap p.txt {
    font-size: 1rem;
    line-height: 1.44444444rem;
  }
  .container .wrap article section.work .cell:nth-of-type(1) {
    left: 0rem;
    top: 15.55555556rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(1) .img-wrap {
    width: 42.77777778rem;
    height: 26.55555556rem;
  }
  .container .wrap article section.work .cell:nth-of-type(2) {
    right: 0rem;
    top: 30.22222222rem;
    left: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(2) .img-wrap {
    width: 29.55555556rem;
    height: 38.88888889rem;
  }
  .container .wrap article section.work .cell:nth-of-type(3) {
    left: 20rem;
    top: 59.66666667rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(3) .img-wrap {
    width: 30.16666667rem;
    height: 42.05555556rem;
  }
  .container .wrap article section.recruit {
    background-color: #222;
    overflow: hidden;
    padding-bottom: 5.16666667rem;
    box-sizing: border-box;
  }
  .container .wrap article section.recruit h3 {
    font-size: 8.33333333rem;
    line-height: 7.77777778rem;
    text-align: center;
    color: #fafafa;
    margin-top: 11.11111111rem;
    margin-right: 0rem;
    margin-bottom: 1.11111111rem;
    margin-left: 0rem;
  }
  .container .wrap article section.recruit .txt {
    font-size: 1rem;
    color: #fafafa;
    text-align: center;
    margin-bottom: 3.88888889rem;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.recruit .recruit-btn {
    width: 10.55555556rem;
    height: 4.22222222rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-repeat: no-repeat;
    background-image: url('../img/pc/recruit-btn.svg');
    background-size: contain;
  }
  .container .wrap article section.recruit .chats .c-wrap {
    position: absolute;
  }
  .container .wrap article section.recruit .chats .c-wrap p {
    font-size: 0.88888889rem;
    font-family: 'Pretendard Variable', sans-serif;
    color: #fafafa;
    position: relative;
    z-index: 1;
    padding-top: 0.33333333rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0.88888889rem;
    box-sizing: border-box;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1 {
    left: 15.55555556rem;
    top: 8.88888889rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1:after {
    content: '';
    display: block;
    width: 6.61111111rem;
    height: 2.38888889rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-1.png');
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2 {
    left: 60.38888889rem;
    top: 9.44444444rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2:after {
    content: '';
    display: block;
    width: 14.22222222rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-2.png');
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3 {
    left: 14.16666667rem;
    top: 27.16666667rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3:after {
    content: '';
    display: block;
    width: 10.38888889rem;
    height: 2.33333333rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-3.png');
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4 {
    left: 70.38888889rem;
    top: 24.88888889rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4:after {
    content: '';
    display: block;
    width: 6.61111111rem;
    height: 2.22222222rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-4.png');
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5 {
    left: 60.11111111rem;
    top: 29.11111111rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5:after {
    content: '';
    display: block;
    width: 7.38888889rem;
    height: 2.22222222rem;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-5.png');
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .btm {
    width: 23.94444444rem;
    height: 0.66666667rem;
    position: absolute;
    left: 46.61111111rem;
    top: 18.88888889rem;
    right: auto;
    bottom: auto;
    opacity: 0;
  }
  .container .wrap article section.recruit .arrow {
    width: 21.72222222rem;
    height: 21rem;
    position: absolute;
    left: 13.33333333rem;
    top: 28.05555556rem;
    right: auto;
    bottom: auto;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }
  .container .wrap article section.recruit.active .btm,
  .container .wrap article section.recruit.active .arrow {
    opacity: 1;
  }
  .container .wrap article section.contact {
    background-color: #8e2626;
    padding-top: 5rem;
    padding-right: 0rem;
    padding-bottom: 2.22222222rem;
    padding-left: 0rem;
    box-sizing: border-box;
    height: 27.94444444rem;
  }
  .container .wrap article section.contact:after {
    content: '';
    display: block;
    position: absolute;
    left: 29.55555556rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    width: 29.66666667rem;
    height: 100%;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.contact .cell {
    display: inline-block;
    width: 33.3%;
    text-align: left;
    vertical-align: top;
    padding-left: 1.66666667rem;
    box-sizing: border-box;
  }
  .container .wrap article section.contact .cell p {
    text-transform: uppercase;
  }
  .container .wrap article section.contact .cell p.tit {
    font-size: 1.33333333rem;
    color: #eee;
    font-weight: 500;
    margin-bottom: 1.33333333rem;
  }
  .container .wrap article section.contact .cell p.txt {
    font-size: 1rem;
    line-height: 2.05555556rem;
    color: #fafafa;
    font-family: 'Pretendard Variable', sans-serif;
    opacity: 0.8;
  }
  .container .wrap article section.contact .cell a {
    font-size: 1rem;
    color: #fafafa;
    opacity: 0.8;
    text-transform: uppercase;
    margin-bottom: 0.88888889rem;
    display: block;
  }
  .container .wrap article section.contact .cell a span {
    width: 0.88888889rem;
    height: 0.88888889rem;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('../img/pc/arrow.svg');
    background-size: contain;
  }
  .container .wrap article section.contact .cell .tel,
  .container .wrap article section.contact .cell .fax {
    font-size: 1rem;
    color: #fafafa;
    opacity: 0.8;
    margin-bottom: 0.88888889rem;
    text-transform: none;
  }
  .container .wrap article section.contact .cell .tel s,
  .container .wrap article section.contact .cell .fax s {
    display: inline-block;
    width: 3.33333333rem;
  }
  .container .wrap article section.contact .copy {
    font-size: 1rem;
    color: #fafafa;
    opacity: 0.8;
    position: absolute;
    left: 1.66666667rem;
    top: 24.5rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup {
    width: 88.88888889rem;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 0rem;
    right: auto;
    bottom: auto;
    margin-left: -44.44444444rem;
    z-index: 20;
    display: none;
  }
  .container .wrap .popup .holder {
    position: absolute;
    left: 0rem;
    top: 0rem;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 20;
  }
  .container .wrap .popup .holder .pop-inner {
    position: relative;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide {
    min-height: 60rem;
    height: 100vh;
    padding-top: 6.66666667rem;
    padding-right: 3.88888889rem;
    padding-bottom: 6.66666667rem;
    padding-left: 3.88888889rem;
    box-sizing: border-box;
    text-align: left;
    zoom: 1;
    background-color: #8e2626;
    position: relative;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide h3 {
    font-size: 4rem;
    line-height: 4.88888889rem;
    color: #fff;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap {
    position: absolute;
    left: 42.94444444rem;
    top: 7.22222222rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap p {
    color: #fff;
    font-family: 'Pretendard Variable', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap p.tit {
    font-size: 2.11111111rem;
    font-weight: 500;
    margin-bottom: 1.38888889rem;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap p.sub-tit {
    font-size: 1.33333333rem;
    margin-bottom: 0.55555556rem;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .t-wrap p.txt {
    font-size: 1rem;
    line-height: 1.44444444rem;
    opacity: 0.8;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g1 {
    width: 64.55555556rem;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14.05555556rem;
    display: block;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g2 {
    width: 33.44444444rem;
    height: 35.66666667rem;
    position: absolute;
    left: 18.83333333rem;
    top: 20.55555556rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .g3 {
    width: 24.55555556rem;
    height: 26.77777778rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.33333333rem;
    display: block;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide span {
    font-size: 1rem;
    color: #eee;
    font-weight: 500;
    position: absolute;
    left: 67.05555556rem;
    top: 41.61111111rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best {
    text-align: left;
    color: #fff;
    position: absolute;
    left: 58.83333333rem;
    top: 30.83333333rem;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best .sub-tit {
    font-size: 1.33333333rem;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-bottom: 2.22222222rem;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best ul li .tit,
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best ul li .txt {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.44444444rem;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide .best ul li .txt {
    margin-bottom: 1.33333333rem;
    font-weight: 400;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide + .swiper-slide .t-wrap p.tit {
    margin-bottom: 1.77777778rem;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-slide + .swiper-slide .t-wrap p.sub-tit {
    margin-bottom: 0.61111111rem;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-pagination {
    display: none;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button {
    width: 3.33333333rem;
    height: 3.33333333rem;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button:after {
    display: none;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button.swiper-button-disabled {
    opacity: 0.5;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button.swiper-button-prev {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-prev.svg');
    background-size: contain;
    left: 3.88888889rem;
  }
  .container .wrap .popup .holder .pop-inner .pop-swiper .swiper-button.swiper-button-next {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-next.svg');
    background-size: contain;
    right: 3.88888889rem;
  }
  .container .wrap .popup .holder .pop-inner .pop-close {
    width: 2.44444444rem;
    height: 2.44444444rem;
    position: absolute;
    right: 3.33333333rem;
    top: 3.33333333rem;
    left: auto;
    bottom: auto;
    z-index: 5;
  }
  .container .wrap .popup .holder .pop-inner .pop-close img {
    width: 100%;
    height: 100%;
  }
  .container .wrap .popup.open {
    display: inline-block;
  }
}
/*# sourceMappingURL=style-pc.css.map */