/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
.mont {
  font-family: Montserrat, sans-serif;
}
.pret {
  font-family: 'Pretendard Variable', sans-serif;
}
img {
  backface-visibility: hidden;
  image-rendering: auto;
  display: block;
}
a {
  display: inline-block;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
}
.swiper-button:focus {
  outline: none!important;
}
:root {
  --widthSize: calc(100vw - (100vw - 100%));
}
body {
  width: var(--widthSize);
}
@media screen and (min-width: 769px) {
  html {
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
  }
  .web {
    display: inline-block;
  }
  .mo {
    display: none !important;
  }
  .container .wrap {
    font-size: 0vw;
    width: 100%;
  }
  .container .wrap.down header {
    top: -7.5vw;
  }
  .container .wrap.up header:after {
    content: '';
    display: block;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    visibility: visible;
  }
  .container .wrap.up header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/mo/logo-black.svg');
    background-size: contain;
  }
  .container .wrap.up header .menu-wrap .menu-list a {
    color: #000;
  }
  .container .wrap.up header .menu-wrap .menu-list a:hover {
    border-bottom: 1px solid #000;
  }
  .container .wrap header {
    width: 100%;
    height: 7.5vw;
    position: fixed;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    z-index: 10;
    zoom: 1;
    transition: top 0.5s 0.1s;
  }
  .container .wrap header:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap header h1 {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-top: 1.3125vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 1.875vw;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
  }
  .container .wrap header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/pc/logo.png');
    background-size: contain;
    width: 17.9375vw;
    height: 3.625vw;
  }
  .container .wrap header nav {
    display: none;
  }
  .container .wrap header .menu-wrap {
    float: right;
    height: 100%;
    padding-top: 3.125vw;
    padding-right: 3.4375vw;
    padding-bottom: 0vw;
    padding-left: 0vw;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
  }
  .container .wrap header .menu-wrap .menu-list {
    text-align: center;
    height: 100%;
  }
  .container .wrap header .menu-wrap .menu-list a {
    font-size: 1vw;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    margin-top: 0vw;
    margin-right: 0.9375vw;
    margin-bottom: 0vw;
    margin-left: 0.9375vw;
    padding-bottom: 0.3125vw;
    box-sizing: border-box;
  }
  .container .wrap header .menu-wrap .menu-list a:hover {
    border-bottom: 1px solid #fff;
  }
  .container .wrap header.open {
    position: fixed;
    background-color: #8e2626;
    height: 100vh;
    line-height: normal;
  }
  .container .wrap header.open h1 a {
    background-image: url('../img/mo/logo-w.svg');
    width: 144px;
    height: 29px;
  }
  .container .wrap header.open nav .menu {
    background-image: url('../img/mo/btn-close.svg');
  }
  .container .wrap header.open .menu-wrap {
    display: inline-block;
  }
  .container .wrap article section {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .container .wrap article section:after {
    content: '';
    display: block;
    position: absolute;
    left: 33.3125vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 33.375vw;
    height: 100%;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    box-sizing: border-box;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section h2 {
    font-size: 5vw;
    color: #000;
    padding-top: 7.5vw;
    padding-right: 0vw;
    padding-bottom: 5vw;
    padding-left: 1.875vw;
    box-sizing: border-box;
    text-align: left;
    text-transform: uppercase;
  }
  .container .wrap article section.visual {
    height: 100vh;
  }
  .container .wrap article section.visual:after {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
  }
  .container .wrap article section.visual .swiper {
    width: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .container .wrap article section.visual .swiper .swiper-slide .img {
    transform: scale(1.1);
    transition: 2s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt {
    text-align: left;
    position: absolute;
    left: 1.875vw;
    bottom: 1.25vw;
    right: auto;
    top: auto;
    width: 75vw;
    height: 16vw;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p {
    font-size: 9.375vw;
    color: #fff;
    height: 8vw;
    line-height: 8vw;
    font-weight: 300;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    overflow: hidden;
    padding-top: 8vw;
    box-sizing: border-box;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(1) {
    top: 0vw;
    transition: padding-top 1s 1s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(2) {
    top: 8vw;
    transition: padding-top 1s 1.1s;
  }
  .container .wrap article section.visual .swiper .swiper-slide.slide1 .img {
    background: url("../img/pc/visual-1.png") no-repeat center center;
    background-size: cover;
  }
  .container .wrap article section.visual .swiper .swiper-slide.slide2 .img {
    background: url("../img/pc/visual-2.png") no-repeat center center;
    background-size: cover;
  }
  .container .wrap article section.visual .swiper .swiper-slide.slide3 .img {
    background: url("../img/pc/visual-3.png") no-repeat center center;
    background-size: cover;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .img,
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-prev .img {
    width: 100vw;
    height: 100vh;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .img {
    transform: scale(1);
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .txt .t-inner p {
    padding-top: 0vw;
  }
  .container .wrap article section.top {
    background-color: #e6e0d4;
    height: 100vh;
    overflow: hidden;
  }
  .container .wrap article section.top:after {
    border-left: 1px solid #6a5121;
    border-right: 1px solid #6a5121;
  }
  .container .wrap article section.top span {
    width: 66.6875vw;
    height: 7.5vw;
    background-color: #fff;
    position: absolute;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
    display: inline-block;
    z-index: 2;
  }
  .container .wrap article section.top span:after {
    content: '';
    display: block;
    position: absolute;
    left: 33.3125vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 33.375vw;
    height: 100vh;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #6a5121;
    box-sizing: border-box;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.top .top-inner div {
    position: absolute;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner div p {
    font-size: 1.5vw;
    color: #11161c;
    line-height: 1.625vw;
    font-weight: 500;
    text-transform: uppercase;
  }
  .container .wrap article section.top .top-inner .t2 {
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -12.5vw;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner {
    position: relative;
    width: 125vw;
    height: 15.25vw;
    left: 0vw;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p {
    font-size: 9.375vw;
    font-weight: 300;
    color: #0c0f0e;
    line-height: 6.875vw;
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    transition: margin-left 3s 0s;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p s {
    color: #ee2023;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: 100%;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(2) {
    top: 8.375vw;
    margin-left: -200%;
  }
  .container .wrap article section.top .top-inner .t1,
  .container .wrap article section.top .top-inner .t3,
  .container .wrap article section.top .top-inner .t4 {
    height: 3.25vw;
  }
  .container .wrap article section.top .top-inner .t1 p,
  .container .wrap article section.top .top-inner .t3 p,
  .container .wrap article section.top .top-inner .t4 p {
    padding-top: 3.25vw;
    box-sizing: border-box;
  }
  .container .wrap article section.top .top-inner .t1 {
    left: 1.875vw;
    bottom: 10vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t1 p {
    transition: padding-top 1s 2.2s;
  }
  .container .wrap article section.top .top-inner .t3 {
    left: 35.1875vw;
    bottom: 10vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t3 p {
    font-family: 'Pretendard Variable', sans-serif;
    transition: padding-top 1s 2.6s;
  }
  .container .wrap article section.top .top-inner .t4 {
    left: 68.5625vw;
    bottom: 2.5vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t4 p {
    transition: padding-top 1s 3s;
  }
  .container .wrap article section.top .top-inner .scroll-down {
    width: 3.75vw;
    height: 3.75vw;
    position: absolute;
    right: 1.875vw;
    bottom: 2.5vw;
    left: auto;
    top: auto;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner .scroll-down img {
    width: 100%;
    height: 100%;
    margin-top: 3.75vw;
    transition: margin-top 1s 3s;
  }
  .container .wrap article section.top.active .top-inner .t1 p,
  .container .wrap article section.top.active .top-inner .t3 p,
  .container .wrap article section.top.active .top-inner .t4 p {
    padding-top: 0vw;
  }
  .container .wrap article section.top.active .top-inner .scroll-down img {
    margin-top: 0vw;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: -27%;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(2) {
    margin-left: 5%;
  }
  .container .wrap article section.values .swiper2 {
    width: 100%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide {
    position: relative;
  }
  .container .wrap article section.values .swiper2 .swiper-slide img {
    width: 100%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .num {
    font-size: 1.125vw;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 1.875vw;
    top: 2.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap {
    position: absolute;
    left: 1.875vw;
    bottom: 3.75vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap p {
    color: #fff;
    text-align: left;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .tit {
    font-size: 2.375vw;
    line-height: 2.75vw;
    font-weight: 500;
    margin-bottom: 1.25vw;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .txt {
    font-size: 1.125vw;
    line-height: 1.625vw;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide1 {
    width: 33.3125vw !important;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide2 {
    width: 33.375vw !important;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide3 {
    width: 33.375vw !important;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide4 {
    width: 33.3125vw !important;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide5 {
    width: 33.3125vw !important;
  }
  .container .wrap article section.values .swiper2.idx2 .slide2 {
    width: calc(33.375vw - 0.6875vw) !important;
  }
  .container .wrap article section.services .ser-wrap {
    position: relative;
    height: 100vh;
    min-height: 73.75vw;
  }
  .container .wrap article section.services .ser-wrap .cell {
    height: 56.25vw;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    top: 100vh;
  }
  .container .wrap article section.services .ser-wrap .cell:after {
    content: '';
    display: block;
    width: 100%;
    height: 62.5vw;
    background-color: #222;
    position: absolute;
    left: 0vw;
    bottom: -62.5vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.services .ser-wrap .cell .img {
    width: 100%;
    height: 56.25vw;
  }
  .container .wrap article section.services .ser-wrap .cell p,
  .container .wrap article section.services .ser-wrap .cell a {
    position: absolute;
    text-align: left;
    color: #fff;
  }
  .container .wrap article section.services .ser-wrap .cell .sub-tit {
    font-size: 1.125vw;
    left: 1.875vw;
    top: 2.5vw;
    right: auto;
    bottom: auto;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .txt {
    font-size: 2.375vw;
    line-height: 2.75vw;
    font-weight: 500;
    left: 1.875vw;
    top: 25.375vw;
    right: auto;
    bottom: auto;
    text-transform: uppercase;
  }
  .container .wrap article section.services .ser-wrap .cell .kr-txt {
    font-size: 1.125vw;
    line-height: 1.625vw;
    color: #fff;
    position: absolute;
    left: 1.875vw;
    bottom: 3.75vw;
    right: auto;
    top: auto;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .detail {
    font-size: 1vw;
    text-align: center;
    right: 1.875vw;
    bottom: 3.75vw;
    left: auto;
    top: auto;
    width: 8.125vw;
    height: 3.5vw;
    line-height: 3.5vw;
    border-radius: 50% 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
    z-index: 1;
  }
  .container .wrap article section.services .ser-wrap .cell .detail:hover {
    font-weight: 500;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
  }
  .container .wrap article section.services .ser-wrap .cell .detail:hover ~ .dim {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  .container .wrap article section.services .ser-wrap .cell.cell1 {
    width: 33.3125vw;
    transition: top 0.8s 0.2s;
    background-image: url('../img/pc/ser-1.png');
    background-size: cover;
    background-position: center;
  }
  .container .wrap article section.services .ser-wrap .cell.cell2 {
    width: 33.375vw;
    transition: top 0.8s 0.4s;
    background-image: url('../img/pc/ser-2.png');
    background-size: cover;
    background-position: center;
  }
  .container .wrap article section.services .ser-wrap .cell.cell3 {
    width: 33.3125vw;
    top: auto;
    bottom: -56.25vw;
    transition: bottom 0.8s 0.6s;
    background-image: url('../img/pc/ser-3.png');
    background-size: cover;
    background-position: center;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(1) {
    top: 0vw;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(2) {
    left: 33.3125vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -28.125vw;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(3) {
    left: 66.6875vw;
    top: auto;
    bottom: 0vw;
  }
  .container .wrap article section.projects {
    background-color: #222;
  }
  .container .wrap article section.projects h2 {
    color: #fff;
  }
  .container .wrap article section.projects .proj-swiper {
    padding-left: 1.875vw;
    height: 71.25vw;
    box-sizing: border-box;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide {
    width: 51.75vw;
    position: relative;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner {
    position: relative;
    width: 100%;
    height: 51.75vw;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner .dim {
    width: 38.75vw;
    height: 38.75vw;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner img {
    width: 38.75vw;
    height: 38.75vw;
    margin-bottom: 1.25vw;
    transition: width 0.5s, height 0.5s;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p {
    font-size: 1.125vw;
    line-height: 1.625vw;
    color: #fff;
    display: inline-block;
    transition: all 0.5s;
    text-transform: uppercase;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.en-name {
    position: absolute;
    left: 0vw;
    top: 46.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.kr-name {
    width: 12.5vw;
    position: absolute;
    left: 0vw;
    top: 46.5vw;
    right: auto;
    bottom: auto;
    margin-left: 26.25vw;
    text-align: right;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj {
    width: 38.75vw;
    height: 38.75vw;
    position: absolute;
    left: 0vw;
    top: 6.25vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj .view-btn {
    font-size: 1vw;
    color: #fff;
    width: 8.125vw;
    height: 3.5vw;
    line-height: 3.5vw;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 50% 50%;
    box-sizing: border-box;
    z-index: 1;
    display: none;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj .view-btn:hover {
    font-weight: 500;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj:hover .view-btn {
    display: inline-block;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner .dim {
    width: 100%;
    height: 51.75vw;
    opacity: 0;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner img {
    width: 100%;
    height: 51.75vw;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active p.en-name {
    top: 53vw;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active p.kr-name {
    top: 53vw;
    margin-left: 39.25vw;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .view-proj {
    width: 100%;
    height: 51.75vw;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner .dim,
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner img {
    width: 38.75vw;
    height: 38.75vw;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-prev .s-inner .dim {
    width: 100%;
    height: 100%;
    transition: opacity 0s 1s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide:hover .s-inner .dim {
    opacity: 0.6;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide:hover .view-proj:after {
    display: inline-block;
  }
  .container .wrap article section.projects .swiper-button {
    top: 8.5vw;
    width: 3.75vw;
    height: 3.75vw;
    opacity: 0.5;
  }
  .container .wrap article section.projects .swiper-button:hover {
    opacity: 1;
  }
  .container .wrap article section.projects .swiper-button:after {
    display: none;
  }
  .container .wrap article section.projects .swiper-button.swiper-button-prev {
    left: 89.125vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/icon-arrow-prev.svg');
    background-size: contain;
  }
  .container .wrap article section.projects .swiper-button.swiper-button-next {
    right: auto;
    left: 94.375vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/icon-arrow-next.svg');
    background-size: contain;
  }
  .container .wrap article section.work {
    background-color: #e6e0d4;
    height: 144.5625vw;
  }
  .container .wrap article section.work .cell {
    position: absolute;
  }
  .container .wrap article section.work .cell .img-wrap {
    position: relative;
  }
  .container .wrap article section.work .cell .img-wrap img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.work .cell .img-wrap p {
    font-size: 3.125vw;
    line-height: 3vw;
    color: #fff;
    text-align: center;
    width: 21.875vw;
    height: 6vw;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -3vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -10.9375vw;
    text-transform: uppercase;
  }
  .container .wrap article section.work .cell .t-wrap {
    padding-top: 2.5vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 1.875vw;
    box-sizing: border-box;
  }
  .container .wrap article section.work .cell .t-wrap p {
    font-family: 'Pretendard Variable', sans-serif;
    text-align: left;
  }
  .container .wrap article section.work .cell .t-wrap p.tit {
    font-size: 1.5vw;
    line-height: 1.5vw;
    margin-bottom: 1.25vw;
    font-weight: 500;
  }
  .container .wrap article section.work .cell .t-wrap p.txt {
    font-size: 1.125vw;
    line-height: 1.625vw;
  }
  .container .wrap article section.work .cell:nth-of-type(1) {
    left: 0vw;
    top: 17.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(1) .img-wrap {
    width: 48.125vw;
    height: 29.875vw;
  }
  .container .wrap article section.work .cell:nth-of-type(2) {
    left: 66.75vw;
    top: 34vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(2) .img-wrap {
    width: 33.25vw;
    height: 43.75vw;
  }
  .container .wrap article section.work .cell:nth-of-type(3) {
    left: 22.5vw;
    top: 67.125vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(3) .img-wrap {
    width: 33.9375vw;
    height: 47.3125vw;
  }
  .container .wrap article section.recruit {
    background-color: #222;
    height: 100vh;
    position: relative;
  }
  .container .wrap article section.recruit:after {
    display: none;
  }
  .container .wrap article section.recruit h3 {
    font-size: 9.375vw;
    line-height: 8.75vw;
    text-align: center;
    color: #fafafa;
    width: 68.75vw;
    height: 26.875vw;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -15.625vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -34.375vw;
  }
  .container .wrap article section.recruit .txt {
    font-size: 1.125vw;
    color: #fafafa;
    text-align: center;
    font-family: 'Pretendard Variable', sans-serif;
    position: absolute;
    width: 21.25vw;
    height: 1.375vw;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 11.875vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -10.625vw;
  }
  .container .wrap article section.recruit .recruit-btn {
    font-size: 1.125vw;
    width: 11.875vw;
    height: 4.75vw;
    color: #fafafa;
    font-weight: 500;
    text-align: center;
    line-height: 4.75vw;
    border: 2px solid #fff;
    border-radius: 50% 50%;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 17.5625vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -5.9375vw;
  }
  .container .wrap article section.recruit .recruit-btn:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.7);
  }
  .container .wrap article section.recruit .chats .c-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap p {
    font-size: 1vw;
    font-family: 'Pretendard Variable', sans-serif;
    color: #fafafa;
    position: relative;
    z-index: 1;
    padding-top: 0.375vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 1vw;
    box-sizing: border-box;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1 {
    margin-top: -18.125vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -32.5vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1:after {
    content: '';
    display: block;
    width: 7.4375vw;
    height: 2.6875vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-1.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2 {
    margin-top: -17.5vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: 17.9375vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2:after {
    content: '';
    display: block;
    width: 16vw;
    height: 2.8125vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-2.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3 {
    margin-top: 2.4375vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -34.0625vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3:after {
    content: '';
    display: block;
    width: 11.6875vw;
    height: 2.625vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-3.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4 {
    margin-top: -0.125vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: 29.1875vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4:after {
    content: '';
    display: block;
    width: 7.4375vw;
    height: 2.5vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-4.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5 {
    margin-top: 4.625vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: 17.625vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5:after {
    content: '';
    display: block;
    width: 8.3125vw;
    height: 2.5vw;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-5.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .btm {
    width: 26.9375vw;
    height: 0.75vw;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -6.875vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: 2.4375vw;
    opacity: 0;
  }
  .container .wrap article section.recruit .btm svg {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.recruit .arrow {
    width: 24.4375vw;
    height: 23.625vw;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 3.4375vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -35vw;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }
  .container .wrap article section.recruit .arrow svg {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.recruit.active .btm,
  .container .wrap article section.recruit.active .arrow {
    opacity: 1;
  }
  .container .wrap article section.contact {
    background-color: #8e2626;
    padding-top: 5.625vw;
    padding-right: 0vw;
    padding-bottom: 2.5vw;
    padding-left: 0vw;
    box-sizing: border-box;
    height: 31.4375vw;
  }
  .container .wrap article section.contact .cell {
    display: inline-block;
    width: 33.3%;
    text-align: left;
    vertical-align: top;
    padding-left: 1.875vw;
    box-sizing: border-box;
  }
  .container .wrap article section.contact .cell p {
    text-transform: uppercase;
  }
  .container .wrap article section.contact .cell p.tit {
    font-size: 1.5vw;
    color: #eee;
    font-weight: 500;
    margin-bottom: 1.5vw;
  }
  .container .wrap article section.contact .cell p.txt {
    font-size: 1.125vw;
    line-height: 2.3125vw;
    color: #fafafa;
    font-family: 'Pretendard Variable', sans-serif;
    opacity: 0.8;
  }
  .container .wrap article section.contact .cell a {
    font-size: 1.125vw;
    color: #fafafa;
    opacity: 0.8;
    text-transform: uppercase;
    margin-bottom: 1vw;
    display: block;
  }
  .container .wrap article section.contact .cell a span {
    width: 1vw;
    height: 1vw;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('../img/pc/arrow.svg');
    background-size: contain;
  }
  .container .wrap article section.contact .cell a:last-child {
    margin-bottom: 0vw;
  }
  .container .wrap article section.contact .cell .tel,
  .container .wrap article section.contact .cell .fax {
    font-size: 1.125vw;
    color: #fafafa;
    opacity: 0.8;
    margin-bottom: 1vw;
    text-transform: none;
  }
  .container .wrap article section.contact .cell .tel s,
  .container .wrap article section.contact .cell .fax s {
    display: inline-block;
    width: 3.75vw;
  }
  .container .wrap article section.contact .copy {
    font-size: 1.125vw;
    color: #fafafa;
    opacity: 0.8;
    position: absolute;
    left: 1.875vw;
    top: 27.5625vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup {
    position: fixed;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
    overflow: auto;
  }
  .container .wrap .popup .pop-inner {
    position: absolute;
    left: 50%;
    top: 3.125vw;
    right: auto;
    bottom: auto;
    padding-bottom: 1.25vw;
    box-sizing: border-box;
    transform: translateX(-50%);
    z-index: 5;
  }
  .container .wrap .popup .pop-inner .pop-swiper {
    width: 96.25vw;
    height: 67.5vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide {
    height: 100%;
    padding-top: 7.5vw;
    padding-right: 4.375vw;
    padding-bottom: 7.5vw;
    padding-left: 4.375vw;
    box-sizing: border-box;
    text-align: left;
    zoom: 1;
    background-color: #8e2626;
    position: relative;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide h3 {
    font-size: 4.5vw;
    line-height: 5.5vw;
    color: #fff;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap {
    position: absolute;
    left: 48.3125vw;
    top: 7.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p {
    color: #fff;
    font-family: 'Pretendard Variable', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p.tit {
    font-size: 2.375vw;
    font-weight: 500;
    margin-bottom: 1.5625vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p.sub-tit {
    font-size: 1.5vw;
    margin-bottom: 0.625vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p.txt {
    font-size: 1.125vw;
    line-height: 1.625vw;
    color: #ccc;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .graphic {
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .graphic .cell {
    width: 10vw;
    height: 10vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .graphic .cell p {
    font-size: 1.125vw;
    font-weight: 500;
    font-family: 'Pretendard Variable', sans-serif;
    color: #fff;
    width: 10vw;
    height: 1.3125vw;
    line-height: 1.3125vw;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -0.625vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 .graphic {
    width: 75.125vw;
    height: 10.125vw;
    background-image: url('../img/pc/graphic-1.svg');
    position: absolute;
    left: 10.625vw;
    top: 33.0625vw;
    right: auto;
    bottom: auto;
    background-position-x: 1.25vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 .graphic .cell {
    margin-top: 0vw;
    margin-right: 1.25vw;
    margin-bottom: 0vw;
    margin-left: 1.25vw;
    display: inline-block;
    position: relative;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 .graphic .cell.cell5 p {
    line-height: 1.625vw;
    margin-top: -1.625vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 span {
    font-size: 1.125vw;
    color: #eee;
    position: absolute;
    left: 75.4375vw;
    top: 46.8125vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic {
    width: 37.625vw;
    height: 40.125vw;
    background-image: url('../img/pc/graphic-2.svg');
    position: absolute;
    left: 19.3125vw;
    top: 20vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell {
    position: absolute;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell1 {
    left: 13.75vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell2 {
    left: 27.5vw;
    top: 7.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell2 p {
    line-height: 1.625vw;
    margin-top: -1.625vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell3 {
    left: 27.5vw;
    top: 22.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell4 {
    left: 13.75vw;
    top: 30vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell5 {
    left: 0vw;
    top: 22.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell5 p {
    line-height: 1.625vw;
    margin-top: -1.625vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell6 {
    left: 0vw;
    top: 7.5vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell6 p {
    line-height: 1.625vw;
    margin-top: -1.625vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best {
    position: absolute;
    left: 64.3125vw;
    top: 31.5625vw;
    right: auto;
    bottom: auto;
    text-transform: uppercase;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best .sub-tit {
    font-size: 1.5vw;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2.5vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li .tit,
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li .txt {
    font-size: 1.125vw;
    line-height: 1.3125vw;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0.5vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li .txt {
    font-weight: 400;
    color: #ccc;
    margin-bottom: 1.5vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic {
    width: 30.125vw;
    height: 30.125vw;
    background-image: url('../img/pc/graphic-3.svg');
    position: relative;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell {
    position: absolute;
    padding-top: 2.375vw;
    box-sizing: border-box;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell p {
    line-height: 1.625vw;
    position: relative;
    height: auto;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    margin-top: 0vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell p:nth-child(1) {
    margin-bottom: 0.5vw;
    font-weight: 700;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell p:nth-child(2) {
    color: #ccc;
    font-weight: 400;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell1 {
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell2 {
    left: 20vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell3 {
    left: 10vw;
    top: 10vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell4 {
    left: 0vw;
    top: 20vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell5 {
    left: 20vw;
    top: 20vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best {
    text-align: left;
    color: #fff;
    position: absolute;
    left: 66.1875vw;
    top: 34.6875vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best .sub-tit {
    font-size: 1.5vw;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-bottom: 2.5vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best ul li .tit,
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best ul li .txt {
    font-size: 1.125vw;
    font-weight: 700;
    margin-bottom: 0.5vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best ul li .txt {
    margin-bottom: 1.5vw;
    font-weight: 400;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide + .swiper-slide .t-wrap p.tit {
    margin-bottom: 2vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide + .swiper-slide .t-wrap p.sub-tit {
    margin-bottom: 0.6875vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-pagination {
    display: none;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button {
    width: 3.75vw;
    height: 3.75vw;
    top: 37.5vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button:after {
    display: none;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-disabled {
    opacity: 0.5 !important;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-prev {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-prev.svg');
    background-size: contain;
    left: 4.375vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-prev:hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-prev-hover.svg');
    background-size: contain;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-next {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-next.svg');
    background-size: contain;
    right: 4.375vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-next:hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-next-hover.svg');
    background-size: contain;
  }
  .container .wrap .popup .pop-inner .pop-close {
    width: 2.75vw;
    height: 2.75vw;
    position: absolute;
    right: 3.75vw;
    top: 3.75vw;
    left: auto;
    bottom: auto;
    z-index: 5;
  }
  .container .wrap .popup .pop-inner .pop-close img {
    width: 100%;
    height: 100%;
  }
  .container .wrap .popup.dw .pop-inner .pop-close {
    top: -2.875vw;
    transition: top 0.5s 0.1s;
  }
  .container .wrap .popup.up .pop-inner .pop-close {
    top: 1.25vw;
    transition: top 0.5s 0.1s;
  }
  .container .wrap .popup.open {
    display: inline-block;
  }
}
@media screen and (max-width: 1360px) {
  .container .wrap article section.values .swiper2.idx2 .slide2 {
    width: calc(33.375vw - 0.8125vw) !important;
  }
}
@media screen and (max-width: 1120px) {
  .container .wrap article section.values .swiper2.idx2 .slide2 {
    width: calc(33.375vw - 0.9375vw) !important;
  }
}
@media screen and (max-width: 900px) {
  .container .wrap article section.values .swiper2.idx2 .slide2 {
    width: calc(33.375vw - 1.1875vw) !important;
  }
}
/*# sourceMappingURL=style-t.css.map */