@import "asset";
@use-vw: true;
@vw: 375;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Quicksand:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.mont { font-family: Montserrat, sans-serif; }
.pret { font-family: Pretendard, sans-serif; }
//img { backface-visibility: hidden; image-rendering: auto; .block; }
a { .ib; .pointer; }


@media screen and (max-width: 768px) {
  html { .mont; }
  .web { .hide; }
  .mo { .ib; }

  .container {
    .wrap { .fs(0);
      header { .wh(375,60); .lh(60); .fix; .lt; .p(10,18); .-box; z-index: 10; .clear;
        h1 { .ib;
          a { .contain('../img/mo/logo.png'); .wh(144,29); }
        }
        nav { .wh(40,40); .ib; .fr;
          .menu { .f; .contain('../img/mo/btn-menu.png'); }
        }
        .menu-wrap { .wf; .abs; .lt(0,50%); .mt(-146); .hide;
          .menu-list { .tc;
            a { .fs(32); color:#fff; .block; .lh(39); .mb(24); .light;
              &:last-child { .mb(0); }
            }
          }
        }

        &.open { .bgc(#8e2626); .h(100vh); line-height: normal;
          h1 {
            a { .bg('../img/mo/logo-w.png'); }
          }
          nav {
            .menu { .bg('../img/mo/btn-close.png'); }
          }
          .menu-wrap { .ib; }
        }
      }

      article {
        section { .rel;
          &.visual {
            &:after { .cnt; .abs; .lt(50%,0); .wh(1,100%); .bgc(#fff); .ml(-1); opacity: 0.5; z-index: 1; }
            .swiper {
              .swiper-slide { .wh(375,667); overflow: hidden; .rel;
                img { .wh(110%,105%); transition: all 2s; .abs; .lt(50%,50%); transform: translate(-50%,-50%); }
                .txt { .tl; .abs; .lb(18,20); .wh(263,144);
                  .t-inner { .rel; .f;
                    p { .fs(52); color:#fff; .h(48); .lh(48); .light; .abs; .lt; overflow: hidden; .pt(48); .-box; transition-delay: 1s; transition: padding-top 1.5s;
                      &:nth-child(1) { .t(0); transition-delay: 1.0s;}
                      &:nth-child(2) { .t(48); transition-delay: 1.2s; }
                      &:nth-child(3) { .t(96); transition-delay: 1.4s; }
                    }
                  }
                }
                &.swiper-slide-active, &.swiper-slide-prev {
                  img { .wf; height: auto; }
                }
                &.swiper-slide-active {
                  .txt {
                    .t-inner {
                      p { .pt(0); }
                    }
                  }
                }
              }
            }
          }
          &.top { .bgc(#e6e0d4); .h(707);
            &:after { .cnt; .abs; .lt(50%,0); .wh(1,667); .bgc(#6a5121); .ml(-1); opacity: 0.5; z-index: 1; }
            &:before { .cnt; .wh(187,40); .bgc(#fff); .abs; .lb; }
            .top-inner {
              div { .abs; .lt(18,0); overflow: hidden;
                p { .fs(18); color:#11161c; .lh(22); .medium; text-transform: uppercase; }
              }
              .t1 { .t(20); .h(44);
                p { .pt(44); .-box; }
              }
              .t2 { .lt(0,240);
                .t2-inner { .rel; .wh(375,104); .l(0);
                  p { .fs(52); .light; .lh(48); .block; .nowrap; .abs; .lt;
                    s { color:#ee2023; }
                    &:nth-child(1) { .ml(100%); }
                    &:nth-child(2) { .t(56); }
                  }
                }
              }
            }
          }
        }
      }
    }
  }


}
