/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
.mont {
  font-family: Montserrat, sans-serif;
}
.pret {
  font-family: 'Pretendard Variable', sans-serif;
}
img {
  backface-visibility: hidden;
  image-rendering: auto;
  display: block;
}
a {
  display: inline-block;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
}
.swiper-button:focus {
  outline: none!important;
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
  }
  .web {
    display: inline-block;
  }
  .mo {
    display: none !important;
  }
  .container .wrap {
    font-size: 0px;
    width: 100%;
  }
  .container .wrap.down header {
    top: -120px;
  }
  .container .wrap.up header:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    visibility: visible;
  }
  .container .wrap.up header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/mo/logo-black.svg');
    background-size: contain;
  }
  .container .wrap.up header .menu-wrap .menu-list a {
    color: #000;
  }
  .container .wrap.up header .menu-wrap .menu-list a:hover {
    border-bottom: 1px solid #000;
  }
  .container .wrap header {
    width: 100%;
    height: 120px;
    position: fixed;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    z-index: 10;
    zoom: 1;
    transition: top 0.5s 0.1s;
  }
  .container .wrap header:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap header h1 {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-top: 21px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
  }
  .container .wrap header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/pc/logo.png');
    background-size: contain;
    width: 287px;
    height: 58px;
  }
  .container .wrap header nav {
    display: none;
  }
  .container .wrap header .menu-wrap {
    float: right;
    height: 100%;
    padding-top: 50px;
    padding-right: 55px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
  }
  .container .wrap header .menu-wrap .menu-list {
    text-align: center;
    height: 100%;
  }
  .container .wrap header .menu-wrap .menu-list a {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
    padding-bottom: 5px;
    box-sizing: border-box;
  }
  .container .wrap header .menu-wrap .menu-list a:hover {
    border-bottom: 1px solid #fff;
  }
  .container .wrap header.open {
    position: fixed;
    background-color: #8e2626;
    height: 100vh;
    line-height: normal;
  }
  .container .wrap header.open h1 a {
    background-image: url('../img/mo/logo-w.svg');
    width: 144px;
    height: 29px;
  }
  .container .wrap header.open nav .menu {
    background-image: url('../img/mo/btn-close.svg');
  }
  .container .wrap header.open .menu-wrap {
    display: inline-block;
  }
  .container .wrap article section {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .container .wrap article section:after {
    content: '';
    display: block;
    position: absolute;
    left: 33.3125%;
    top: 0px;
    right: auto;
    bottom: auto;
    width: 33.375%;
    height: 100%;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    box-sizing: border-box;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section h2 {
    font-size: 80px;
    color: #000;
    padding-top: 120px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 30px;
    box-sizing: border-box;
    text-align: left;
    text-transform: uppercase;
  }
  .container .wrap article section.visual {
    height: 100vh;
  }
  .container .wrap article section.visual:after {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
  }
  .container .wrap article section.visual .swiper {
    width: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .container .wrap article section.visual .swiper .swiper-slide .img {
    transform: scale(1.1);
    transition: 2s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt {
    text-align: left;
    position: absolute;
    left: 30px;
    bottom: 20px;
    right: auto;
    top: auto;
    width: 1200px;
    height: 256px;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p {
    font-size: 150px;
    color: #fff;
    height: 128px;
    line-height: 128px;
    font-weight: 300;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    overflow: hidden;
    padding-top: 128px;
    box-sizing: border-box;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(1) {
    top: 0px;
    transition: padding-top 1s 1s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(2) {
    top: 128px;
    transition: padding-top 1s 1.1s;
  }
  .container .wrap article section.visual .swiper .swiper-slide.slide1 .img {
    background: url("../img/pc/visual-1.png") no-repeat center center;
    background-size: cover;
  }
  .container .wrap article section.visual .swiper .swiper-slide.slide2 .img {
    background: url("../img/pc/visual-2.png") no-repeat center center;
    background-size: cover;
  }
  .container .wrap article section.visual .swiper .swiper-slide.slide3 .img {
    background: url("../img/pc/visual-3.png") no-repeat center center;
    background-size: cover;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .img,
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-prev .img {
    width: 100%;
    height: 100vh;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .img {
    transform: scale(1);
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .txt .t-inner p {
    padding-top: 0px;
  }
  .container .wrap article section.top {
    background-color: #e6e0d4;
    height: 100vh;
  }
  .container .wrap article section.top:after {
    border-left: 1px solid #6a5121;
    border-right: 1px solid #6a5121;
  }
  .container .wrap article section.top span {
    width: 66.6875%;
    height: 120px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: auto;
    top: auto;
    display: inline-block;
    z-index: 2;
  }
  .container .wrap article section.top span:after {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    left: auto;
    bottom: auto;
    width: 50%;
    height: 100%;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #6a5121;
    box-sizing: border-box;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.top .top-inner div {
    position: absolute;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner div p {
    font-size: 24px;
    color: #11161c;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .container .wrap article section.top .top-inner .t2 {
    left: 0px;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -200px;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner {
    position: relative;
    width: 3000px;
    height: 244px;
    left: 0px;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p {
    font-size: 150px;
    font-weight: 300;
    color: #0c0f0e;
    line-height: 110px;
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    transition: margin-left 3s 0s;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p s {
    color: #ee2023;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: 100%;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(2) {
    top: 134px;
    margin-left: -200%;
  }
  .container .wrap article section.top .top-inner .t1,
  .container .wrap article section.top .top-inner .t3,
  .container .wrap article section.top .top-inner .t4 {
    height: 52px;
  }
  .container .wrap article section.top .top-inner .t1 p,
  .container .wrap article section.top .top-inner .t3 p,
  .container .wrap article section.top .top-inner .t4 p {
    padding-top: 52px;
    box-sizing: border-box;
  }
  .container .wrap article section.top .top-inner .t1 {
    left: 30px;
    bottom: 160px;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t1 p {
    transition: padding-top 1s 2.2s;
  }
  .container .wrap article section.top .top-inner .t3 {
    left: 35.2%;
    bottom: 160px;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t3 p {
    font-family: 'Pretendard Variable', sans-serif;
    transition: padding-top 1s 2.6s;
  }
  .container .wrap article section.top .top-inner .t4 {
    left: 68.6%;
    bottom: 40px;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner .t4 p {
    transition: padding-top 1s 3s;
  }
  .container .wrap article section.top .top-inner .scroll-down {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 30px;
    bottom: 40px;
    left: auto;
    top: auto;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner .scroll-down img {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    transition: margin-top 1s 3s;
  }
  .container .wrap article section.top.active .top-inner .t1 p,
  .container .wrap article section.top.active .top-inner .t3 p,
  .container .wrap article section.top.active .top-inner .t4 p {
    padding-top: 0px;
  }
  .container .wrap article section.top.active .top-inner .scroll-down img {
    margin-top: 0px;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: -16%;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(2) {
    margin-left: 5%;
  }
  .container .wrap article section.values .swiper2 {
    width: 100%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide {
    position: relative;
  }
  .container .wrap article section.values .swiper2 .swiper-slide img {
    width: 100%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .num {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 30px;
    top: 40px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap {
    position: absolute;
    left: 30px;
    bottom: 60px;
    right: auto;
    top: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap p {
    color: #fff;
    text-align: left;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .tit {
    font-size: 38px;
    line-height: 44px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .txt {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide1 {
    width: 33.3125% !important;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide2 {
    width: 33.3125% !important;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide3 {
    width: 33.375% !important;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide4 {
    width: 33.3125% !important;
  }
  .container .wrap article section.values .swiper2 .swiper-slide.slide5 {
    width: 33.3125% !important;
  }
  .container .wrap article section.services .ser-wrap {
    position: relative;
    height: 100vh;
  }
  .container .wrap article section.services .ser-wrap .cell {
    height: 900px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    top: 100vh;
  }
  .container .wrap article section.services .ser-wrap .cell:after {
    content: '';
    display: block;
    width: 100%;
    height: 1000px;
    background-color: #222;
    position: absolute;
    left: 0px;
    bottom: -1000px;
    right: auto;
    top: auto;
  }
  .container .wrap article section.services .ser-wrap .cell .img {
    width: 100%;
    height: 900px;
  }
  .container .wrap article section.services .ser-wrap .cell p,
  .container .wrap article section.services .ser-wrap .cell a {
    position: absolute;
    text-align: left;
    color: #fff;
  }
  .container .wrap article section.services .ser-wrap .cell .sub-tit {
    font-size: 18px;
    left: 30px;
    top: 40px;
    right: auto;
    bottom: auto;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .txt {
    font-size: 38px;
    line-height: 44px;
    font-weight: 500;
    left: 30px;
    top: 406px;
    right: auto;
    bottom: auto;
    text-transform: uppercase;
  }
  .container .wrap article section.services .ser-wrap .cell .kr-txt {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: 60px;
    right: auto;
    top: auto;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .detail {
    font-size: 16px;
    text-align: center;
    right: 30px;
    bottom: 60px;
    left: auto;
    top: auto;
    width: 130px;
    height: 56px;
    line-height: 56px;
    border-radius: 50% 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
    z-index: 1;
  }
  .container .wrap article section.services .ser-wrap .cell .detail:hover {
    font-weight: 500;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
  }
  .container .wrap article section.services .ser-wrap .cell .detail:hover ~ .dim {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  .container .wrap article section.services .ser-wrap .cell.cell1 {
    width: 33.3125%;
    transition: top 0.8s 0.2s;
    background-image: url('../img/pc/ser-1.png');
    background-size: cover;
    background-position: center;
  }
  .container .wrap article section.services .ser-wrap .cell.cell2 {
    width: 33.375%;
    transition: top 0.8s 0.4s;
    background-image: url('../img/pc/ser-2.png');
    background-size: cover;
    background-position: center;
  }
  .container .wrap article section.services .ser-wrap .cell.cell3 {
    width: 33.3125%;
    top: auto;
    bottom: -900px;
    transition: bottom 0.8s 0.6s;
    background-image: url('../img/pc/ser-3.png');
    background-size: cover;
    background-position: center;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(1) {
    top: 0px;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(2) {
    left: 33.3125%;
    top: 0px;
    right: auto;
    bottom: auto;
    top: 50%;
    margin-top: -450px;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(3) {
    left: 66.6875%;
    top: auto;
    bottom: 0px;
  }
  .container .wrap article section.projects {
    background-color: #222;
  }
  .container .wrap article section.projects h2 {
    color: #fff;
  }
  .container .wrap article section.projects .proj-swiper {
    padding-left: 30px;
    height: 1140px;
    box-sizing: border-box;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide {
    position: relative;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner {
    position: relative;
    width: 828px;
    height: 828px;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner .dim {
    width: 620px;
    height: 620px;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    left: 0px;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner img {
    width: 620px;
    height: 620px;
    margin-bottom: 20px;
    transition: width 0.5s, height 0.5s;
    position: absolute;
    left: 0px;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    display: inline-block;
    transition: all 0.5s;
    text-transform: uppercase;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.en-name {
    position: absolute;
    left: 0px;
    top: 744px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.kr-name {
    width: 200px;
    position: absolute;
    left: 0px;
    top: 744px;
    right: auto;
    bottom: auto;
    margin-left: 420px;
    text-align: right;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj {
    width: 620px;
    height: 620px;
    position: absolute;
    left: 0px;
    top: 100px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj .view-btn {
    font-size: 16px;
    color: #fff;
    width: 130px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 50% 50%;
    box-sizing: border-box;
    z-index: 1;
    display: none;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj .view-btn:hover {
    font-weight: 500;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj:hover .view-btn {
    display: inline-block;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner .dim {
    width: 100%;
    height: 828px;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner img {
    width: 100%;
    height: 828px;
    position: absolute;
    left: 0px;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active p.en-name {
    top: 848px;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active p.kr-name {
    top: 848px;
    margin-left: 628px;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .view-proj {
    width: 828px;
    height: 828px;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner .dim,
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner img {
    width: 620px;
    height: 620px;
    position: absolute;
    left: 0px;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-prev .s-inner .dim {
    width: 100%;
    height: 100%;
    transition: opacity 0s 1s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide:hover .s-inner .dim {
    opacity: 0.6;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide:hover .view-proj:after {
    display: inline-block;
  }
  .container .wrap article section.projects .swiper-button {
    top: 136px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
  }
  .container .wrap article section.projects .swiper-button:hover {
    opacity: 1;
  }
  .container .wrap article section.projects .swiper-button:after {
    display: none;
  }
  .container .wrap article section.projects .swiper-button.swiper-button-prev {
    left: auto;
    right: 114px;
    background-repeat: no-repeat;
    background-image: url('../img/pc/icon-arrow-prev.svg');
    background-size: contain;
  }
  .container .wrap article section.projects .swiper-button.swiper-button-next {
    left: auto;
    right: 30px;
    background-repeat: no-repeat;
    background-image: url('../img/pc/icon-arrow-next.svg');
    background-size: contain;
  }
  .container .wrap article section.work {
    background-color: #e6e0d4;
    height: 2313px;
  }
  .container .wrap article section.work .cell {
    position: absolute;
  }
  .container .wrap article section.work .cell .img-wrap {
    position: relative;
  }
  .container .wrap article section.work .cell .img-wrap img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.work .cell .img-wrap p {
    font-size: 50px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    width: 350px;
    height: 96px;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -48px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -175px;
    text-transform: uppercase;
  }
  .container .wrap article section.work .cell .t-wrap {
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    box-sizing: border-box;
  }
  .container .wrap article section.work .cell .t-wrap p {
    font-family: 'Pretendard Variable', sans-serif;
    text-align: left;
  }
  .container .wrap article section.work .cell .t-wrap p.tit {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .container .wrap article section.work .cell .t-wrap p.txt {
    font-size: 18px;
    line-height: 26px;
  }
  .container .wrap article section.work .cell:nth-of-type(1) {
    left: 0px;
    top: 280px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(1) .img-wrap {
    width: 40.10416667vw;
    height: 24.89583333vw;
  }
  .container .wrap article section.work .cell:nth-of-type(2) {
    left: 66.6875%;
    top: 544px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(2) .img-wrap {
    width: 27.70833333vw;
    height: 36.45833333vw;
  }
  .container .wrap article section.work .cell:nth-of-type(3) {
    left: 24%;
    top: 1074px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.work .cell:nth-of-type(3) .img-wrap {
    width: 28.28125vw;
    height: 39.42708333vw;
  }
  .container .wrap article section.recruit {
    background-color: #222;
    height: 100vh;
    position: relative;
  }
  .container .wrap article section.recruit:after {
    display: none;
  }
  .container .wrap article section.recruit h3 {
    font-size: 150px;
    line-height: 140px;
    text-align: center;
    color: #fafafa;
    width: 1100px;
    height: 430px;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -250px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -550px;
  }
  .container .wrap article section.recruit .txt {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    font-family: 'Pretendard Variable', sans-serif;
    position: absolute;
    width: 340px;
    height: 22px;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 190px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -170px;
  }
  .container .wrap article section.recruit .recruit-btn {
    font-size: 18px;
    width: 190px;
    height: 76px;
    color: #fafafa;
    font-weight: 500;
    text-align: center;
    line-height: 76px;
    border: 2px solid #fff;
    border-radius: 50% 50%;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 281px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -95px;
  }
  .container .wrap article section.recruit .recruit-btn:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.7);
  }
  .container .wrap article section.recruit .chats .c-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap p {
    font-size: 16px;
    font-family: 'Pretendard Variable', sans-serif;
    color: #fafafa;
    position: relative;
    z-index: 1;
    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    box-sizing: border-box;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1 {
    margin-top: -290px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -520px;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1:after {
    content: '';
    display: block;
    width: 119px;
    height: 43px;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-1.png');
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2 {
    margin-top: -280px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 287px;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2:after {
    content: '';
    display: block;
    width: 256px;
    height: 45px;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-2.png');
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3 {
    margin-top: 39px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -545px;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3:after {
    content: '';
    display: block;
    width: 187px;
    height: 42px;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-3.png');
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4 {
    margin-top: -2px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 467px;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4:after {
    content: '';
    display: block;
    width: 119px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-4.png');
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5 {
    margin-top: 74px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 282px;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5:after {
    content: '';
    display: block;
    width: 133px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url('../img/pc/chat-5.png');
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .btm {
    width: 431px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -110px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 39px;
    opacity: 0;
  }
  .container .wrap article section.recruit .btm svg {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.recruit .arrow {
    width: 391px;
    height: 378px;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 55px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -560px;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }
  .container .wrap article section.recruit .arrow svg {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.recruit.active .btm,
  .container .wrap article section.recruit.active .arrow {
    opacity: 1;
  }
  .container .wrap article section.contact {
    background-color: #8e2626;
    padding-top: 90px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    box-sizing: border-box;
    height: 503px;
  }
  .container .wrap article section.contact .cell {
    display: inline-block;
    width: 33.3%;
    text-align: left;
    vertical-align: top;
    padding-left: 30px;
    box-sizing: border-box;
  }
  .container .wrap article section.contact .cell p {
    text-transform: uppercase;
  }
  .container .wrap article section.contact .cell p.tit {
    font-size: 24px;
    color: #eee;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .container .wrap article section.contact .cell p.txt {
    font-size: 18px;
    line-height: 37px;
    color: #fafafa;
    font-family: 'Pretendard Variable', sans-serif;
    opacity: 0.8;
  }
  .container .wrap article section.contact .cell a {
    font-size: 18px;
    color: #fafafa;
    opacity: 0.8;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: block;
  }
  .container .wrap article section.contact .cell a span {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('../img/pc/arrow.svg');
    background-size: contain;
  }
  .container .wrap article section.contact .cell a:last-child {
    margin-bottom: 0px;
  }
  .container .wrap article section.contact .cell .tel,
  .container .wrap article section.contact .cell .fax {
    font-size: 18px;
    color: #fafafa;
    opacity: 0.8;
    margin-bottom: 16px;
    text-transform: none;
  }
  .container .wrap article section.contact .cell .tel s,
  .container .wrap article section.contact .cell .fax s {
    display: inline-block;
    width: 60px;
  }
  .container .wrap article section.contact .copy {
    font-size: 18px;
    color: #fafafa;
    opacity: 0.8;
    position: absolute;
    left: 30px;
    top: 441px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup {
    position: fixed;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
    overflow: auto;
  }
  .container .wrap .popup .pop-inner {
    position: absolute;
    left: 50%;
    top: 50px;
    right: auto;
    bottom: auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    transform: translateX(-50%);
    z-index: 5;
  }
  .container .wrap .popup .pop-inner .pop-swiper {
    width: 1540px;
    height: 1080px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide {
    height: 100%;
    padding-top: 120px;
    padding-right: 70px;
    padding-bottom: 120px;
    padding-left: 70px;
    box-sizing: border-box;
    text-align: left;
    zoom: 1;
    background-color: #8e2626;
    position: relative;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide h3 {
    font-size: 72px;
    line-height: 88px;
    color: #fff;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap {
    position: absolute;
    left: 773px;
    top: 120px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p {
    color: #fff;
    font-family: 'Pretendard Variable', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p.tit {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p.sub-tit {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p.txt {
    font-size: 18px;
    line-height: 26px;
    color: #ccc;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .graphic {
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .graphic .cell {
    width: 160px;
    height: 160px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .graphic .cell p {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Pretendard Variable', sans-serif;
    color: #fff;
    width: 160px;
    height: 21px;
    line-height: 21px;
    position: absolute;
    left: 0px;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -10px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 .graphic {
    width: 1202px;
    height: 162px;
    background-image: url('../img/pc/graphic-1.svg');
    position: absolute;
    left: 170px;
    top: 529px;
    right: auto;
    bottom: auto;
    background-position-x: 20px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 .graphic .cell {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 .graphic .cell.cell5 p {
    line-height: 26px;
    margin-top: -26px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 span {
    font-size: 18px;
    color: #eee;
    position: absolute;
    left: 1207px;
    top: 749px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic {
    width: 602px;
    height: 642px;
    background-image: url('../img/pc/graphic-2.svg');
    position: absolute;
    left: 309px;
    top: 320px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell {
    position: absolute;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell1 {
    left: 220px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell2 {
    left: 440px;
    top: 120px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell2 p {
    line-height: 26px;
    margin-top: -26px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell3 {
    left: 440px;
    top: 360px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell4 {
    left: 220px;
    top: 480px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell5 {
    left: 0px;
    top: 360px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell5 p {
    line-height: 26px;
    margin-top: -26px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell6 {
    left: 0px;
    top: 120px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell6 p {
    line-height: 26px;
    margin-top: -26px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best {
    position: absolute;
    left: 1029px;
    top: 505px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best .sub-tit {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li .tit,
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li .txt {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li .txt {
    font-weight: 400;
    color: #ccc;
    margin-bottom: 24px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic {
    width: 482px;
    height: 482px;
    background-image: url('../img/pc/graphic-3.svg');
    position: relative;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell {
    position: absolute;
    padding-top: 38px;
    box-sizing: border-box;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell p {
    line-height: 26px;
    position: relative;
    height: auto;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    margin-top: 0px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell p:nth-child(1) {
    margin-bottom: 8px;
    font-weight: 700;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell p:nth-child(2) {
    color: #ccc;
    font-weight: 400;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell1 {
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell2 {
    left: 320px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell3 {
    left: 160px;
    top: 160px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell4 {
    left: 0px;
    top: 320px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell5 {
    left: 320px;
    top: 320px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best {
    text-align: left;
    color: #fff;
    position: absolute;
    left: 1059px;
    top: 555px;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best .sub-tit {
    font-size: 24px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-bottom: 40px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best ul li .tit,
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best ul li .txt {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .best ul li .txt {
    margin-bottom: 24px;
    font-weight: 400;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide + .swiper-slide .t-wrap p.tit {
    margin-bottom: 32px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide + .swiper-slide .t-wrap p.sub-tit {
    margin-bottom: 11px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-pagination {
    display: none;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button {
    width: 60px;
    height: 60px;
    top: 600px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button:after {
    display: none;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-disabled {
    opacity: 0.5 !important;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-prev {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-prev.svg');
    background-size: contain;
    left: 70px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-prev:hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-prev-hover.svg');
    background-size: contain;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-next {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-next.svg');
    background-size: contain;
    right: 70px;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button.swiper-button-next:hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/btn-next-hover.svg');
    background-size: contain;
  }
  .container .wrap .popup .pop-inner .pop-close {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 60px;
    top: 60px;
    left: auto;
    bottom: auto;
    z-index: 5;
  }
  .container .wrap .popup .pop-inner .pop-close img {
    width: 100%;
    height: 100%;
  }
  .container .wrap .popup.dw .pop-inner .pop-close {
    top: -46px;
    transition: top 0.5s 0.1s;
  }
  .container .wrap .popup.up .pop-inner .pop-close {
    top: 20px;
    transition: top 0.5s 0.1s;
  }
  .container .wrap.open {
    display: inline-block;
  }
}
/*# sourceMappingURL=style-pc.css.map */