/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
.mont {
  font-family: Montserrat, sans-serif;
}
.pret {
  font-family: 'Pretendard Variable', sans-serif;
}
img {
  backface-visibility: hidden;
  image-rendering: auto;
  display: block;
}
a {
  display: inline-block;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  html {
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
  }
  .web {
    display: none;
  }
  .mo {
    display: inline-block;
  }
  .container .wrap {
    font-size: 0vw;
  }
  .container .wrap.down header {
    top: -16vw;
  }
  .container .wrap.up header:after {
    content: '';
    display: block;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    visibility: visible;
  }
  .container .wrap.up header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/mo/logo-black.svg');
    background-size: contain;
  }
  .container .wrap.up header nav .menu {
    background-repeat: no-repeat;
    background-image: url('../img/mo/btn-menu-black.svg');
    background-size: contain;
  }
  .container .wrap.up header.open:after {
    visibility: hidden;
  }
  .container .wrap header {
    width: 100vw;
    height: 16vw;
    line-height: 16vw;
    padding-top: 4vw;
    padding-right: 4.8vw;
    padding-bottom: 4vw;
    padding-left: 4.8vw;
    box-sizing: border-box;
    position: fixed;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    z-index: 10;
    zoom: 1;
    transition: top 0.5s 0.1s;
  }
  .container .wrap header:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap header h1 {
    display: inline-block;
    width: 38.4vw;
    height: 7.73333333vw;
    position: relative;
    z-index: 1;
  }
  .container .wrap header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/mo/logo.svg');
    background-size: contain;
    width: 144px;
    height: 29px;
  }
  .container .wrap header nav {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: right;
    position: relative;
    z-index: 1;
  }
  .container .wrap header nav .menu {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/mo/btn-menu.svg');
    background-size: contain;
  }
  .container .wrap header .menu-wrap {
    width: 100%;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -38.93333333vw;
    display: none;
  }
  .container .wrap header .menu-wrap .menu-list {
    text-align: center;
  }
  .container .wrap header .menu-wrap .menu-list a {
    font-size: 8.53333333vw;
    color: #fff;
    display: block;
    line-height: 10.4vw;
    margin-bottom: 6.4vw;
    font-weight: 300;
  }
  .container .wrap header .menu-wrap .menu-list a:last-child {
    margin-bottom: 0vw;
  }
  .container .wrap header.open {
    position: fixed;
    background-color: #8e2626;
    height: 100vh;
    line-height: normal;
  }
  .container .wrap header.open h1 a {
    background-image: url('../img/mo/logo-w.svg');
    width: 144px;
    height: 29px;
  }
  .container .wrap header.open nav .menu {
    background-image: url('../img/mo/btn-close.svg');
  }
  .container .wrap header.open .menu-wrap {
    display: inline-block;
  }
  .container .wrap article section {
    position: relative;
  }
  .container .wrap article section h2 {
    font-size: 10.66666667vw;
    color: #000;
    padding-top: 21.33333333vw;
    padding-right: 0vw;
    padding-bottom: 10.66666667vw;
    padding-left: 4.8vw;
    box-sizing: border-box;
    text-align: left;
    text-transform: uppercase;
  }
  .container .wrap article section.visual {
    height: 100vh;
  }
  .container .wrap article section.visual:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 0.26666667vw;
    height: 100%;
    background-color: #fff;
    margin-left: -0.26666667vw;
    opacity: 0.5;
    z-index: 1;
  }
  .container .wrap article section.visual .swiper {
    height: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .container .wrap article section.visual .swiper .swiper-slide .img {
    transform: scale(1.1);
    transition: 2s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt {
    text-align: left;
    position: absolute;
    left: 4.8vw;
    bottom: 5.33333333vw;
    right: auto;
    top: auto;
    width: 70.13333333vw;
    height: 38.4vw;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p {
    font-size: 13.86666667vw;
    color: #fff;
    height: 12.8vw;
    line-height: 12.8vw;
    font-weight: 300;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    overflow: hidden;
    padding-top: 12.8vw;
    box-sizing: border-box;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(1) {
    top: 0vw;
    transition: padding-top 0.8s 0.5s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(2) {
    top: 12.8vw;
    transition: padding-top 0.8s 0.7s;
  }
  .container .wrap article section.visual .swiper .swiper-slide .txt .t-inner p:nth-child(3) {
    top: 25.6vw;
    transition: padding-top 0.8s 0.9s;
  }
  .container .wrap article section.visual .swiper .swiper-slide.slide1 .img {
    background: url("../img/mo/visual-1.png") no-repeat center center;
    background-size: cover;
  }
  .container .wrap article section.visual .swiper .swiper-slide.slide2 .img {
    background: url("../img/mo/visual-2.png") no-repeat center center;
    background-size: cover;
  }
  .container .wrap article section.visual .swiper .swiper-slide.slide3 .img {
    background: url("../img/mo/visual-3.png") no-repeat center center;
    background-size: cover;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .img,
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-prev .img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .img {
    transform: scale(1);
  }
  .container .wrap article section.visual .swiper .swiper-slide.swiper-slide-active .txt .t-inner p {
    padding-top: 0vw;
  }
  .container .wrap article section.top {
    background-color: #e6e0d4;
    height: calc(100vh + 10.67vw);
  }
  .container .wrap article section.top:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 0.26666667vw;
    height: 100vh;
    background-color: #6a5121;
    margin-left: -0.26666667vw;
    opacity: 0.5;
    z-index: 1;
  }
  .container .wrap article section.top:before {
    content: '';
    display: block;
    width: 49.86666667vw;
    height: 10.66666667vw;
    background-color: #fff;
    position: absolute;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.top .top-inner div {
    position: absolute;
    left: 4.8vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    overflow: hidden;
  }
  .container .wrap article section.top .top-inner div p {
    font-size: 4.8vw;
    color: #11161c;
    line-height: 5.86666667vw;
    font-weight: 500;
    text-transform: uppercase;
  }
  .container .wrap article section.top .top-inner .t2 {
    left: 0vw;
    top: 64vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner {
    position: relative;
    width: 100vw;
    height: 27.73333333vw;
    left: 0vw;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p {
    font-size: 13.86666667vw;
    font-weight: 300;
    line-height: 12.8vw;
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    transition: margin-left 2s 0s;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p s {
    color: #ee2023;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: 100%;
  }
  .container .wrap article section.top .top-inner .t2 .t2-inner p:nth-child(2) {
    top: 14.93333333vw;
    margin-left: -200%;
  }
  .container .wrap article section.top .top-inner .t1,
  .container .wrap article section.top .top-inner .t3,
  .container .wrap article section.top .top-inner .t4 {
    height: 11.73333333vw;
  }
  .container .wrap article section.top .top-inner .t1 p,
  .container .wrap article section.top .top-inner .t3 p,
  .container .wrap article section.top .top-inner .t4 p {
    padding-top: 11.73333333vw;
    box-sizing: border-box;
  }
  .container .wrap article section.top .top-inner .t1 {
    top: 5.33333333vw;
  }
  .container .wrap article section.top .top-inner .t1 p {
    transition: padding-top 0.8s 0.9s;
  }
  .container .wrap article section.top .top-inner .t3 {
    top: 50%;
  }
  .container .wrap article section.top .top-inner .t3 p {
    font-family: 'Pretendard Variable', sans-serif;
    transition: padding-top 0.8s 1.1s;
  }
  .container .wrap article section.top .top-inner .t4 {
    top: auto;
    bottom: 16vw;
  }
  .container .wrap article section.top .top-inner .t4 p {
    transition: padding-top 0.8s 1.3s;
  }
  .container .wrap article section.top.active .top-inner .t1 p,
  .container .wrap article section.top.active .top-inner .t3 p,
  .container .wrap article section.top.active .top-inner .t4 p {
    padding-top: 0vw;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(1) {
    margin-left: -85%;
  }
  .container .wrap article section.top.active .top-inner .t2 .t2-inner p:nth-child(2) {
    margin-left: 5%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide {
    width: 80vw;
    position: relative;
  }
  .container .wrap article section.values .swiper2 .swiper-slide img {
    width: 100%;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .num {
    font-size: 3.73333333vw;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 4.8vw;
    top: 8vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap {
    position: absolute;
    left: 4.8vw;
    bottom: 8vw;
    right: auto;
    top: auto;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap p {
    color: #fff;
    text-align: left;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .tit {
    font-size: 6.4vw;
    font-weight: 500;
    margin-bottom: 2.13333333vw;
  }
  .container .wrap article section.values .swiper2 .swiper-slide .t-wrap .txt {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  .container .wrap article section.services .ser-wrap .cell {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    top: 100vh;
    width: 100%;
    height: 33.3vh;
  }
  .container .wrap article section.services .ser-wrap .cell img {
    width: 100vw;
    height: 59.2vw;
  }
  .container .wrap article section.services .ser-wrap .cell p,
  .container .wrap article section.services .ser-wrap .cell a {
    position: absolute;
    text-align: left;
    color: #fff;
  }
  .container .wrap article section.services .ser-wrap .cell .sub-tit {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    left: 4.8vw;
    top: 8vw;
    right: auto;
    bottom: auto;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.services .ser-wrap .cell .txt {
    font-size: 6.4vw;
    line-height: 6.93333333vw;
    font-weight: 500;
    left: 4.8vw;
    bottom: 8vw;
    right: auto;
    top: auto;
    text-transform: uppercase;
  }
  .container .wrap article section.services .ser-wrap .cell .detail {
    font-size: 3.2vw;
    text-align: center;
    right: 4.8vw;
    bottom: 8vw;
    left: auto;
    top: auto;
    width: 26.66666667vw;
    height: 10.66666667vw;
    line-height: 10.66666667vw;
    border-radius: 50% 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
  }
  .container .wrap article section.services .ser-wrap .cell .detail:hover {
    font-weight: 500;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
  }
  .container .wrap article section.services .ser-wrap .cell.cell1 {
    transition: top 0.8s 0.2s;
    background-image: url('../img/mo/ser-1.png');
    background-size: cover;
    background-position: center;
  }
  .container .wrap article section.services .ser-wrap .cell.cell2 {
    transition: top 0.8s 0.4s;
    background-image: url('../img/mo/ser-2.png');
    background-size: cover;
    background-position: center;
  }
  .container .wrap article section.services .ser-wrap .cell.cell3 {
    transition: top 0.8s 0.6s;
    background-image: url('../img/mo/ser-3.png');
    background-size: cover;
    background-position: center;
    height: 33.4vh;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(1) {
    top: 0vw;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(2) {
    top: 33.3%;
  }
  .container .wrap article section.services.active .ser-wrap .cell:nth-child(3) {
    top: 66.6%;
  }
  .container .wrap article section.projects {
    background-color: #222;
  }
  .container .wrap article section.projects h2 {
    color: #fff;
  }
  .container .wrap article section.projects .proj-swiper {
    padding-left: 4.8vw;
    height: 125.33333333vw;
    box-sizing: border-box;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide {
    width: 85.33333333vw;
    position: relative;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner {
    position: relative;
    width: 85.33333333vw;
    height: 85.33333333vw;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner .dim {
    width: 64vw;
    height: 64vw;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .s-inner img {
    width: 64vw;
    height: 64vw;
    margin-bottom: 2.66666667vw;
    transition: width 0.5s, height 0.5s;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    color: #fff;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s;
    text-transform: uppercase;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.en-name {
    position: absolute;
    left: 0vw;
    top: 88vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide p.kr-name {
    width: 42.66666667vw;
    position: absolute;
    left: 42.66666667vw;
    top: 88vw;
    right: auto;
    bottom: auto;
    text-align: right;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner .dim {
    width: 85.33333333vw;
    height: 85.33333333vw;
    opacity: 0;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active .s-inner img {
    width: 85.33333333vw;
    height: 85.33333333vw;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-active p {
    opacity: 1;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner .dim,
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-next .s-inner img {
    width: 64vw;
    height: 64vw;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(0, -50%);
    transition: width 0.5s, height 0.5s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide.swiper-slide-prev .s-inner .dim {
    width: 100%;
    height: 100%;
    transition: opacity 0s 1s;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj {
    width: 85.33333333vw;
    height: 85.33333333vw;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.projects .proj-swiper .swiper-slide .view-proj .view-btn {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.projects .swiper-button {
    display: none;
  }
  .container .wrap article section.work {
    background-color: #e6e0d4;
    padding-bottom: 16vw;
    box-sizing: border-box;
  }
  .container .wrap article section.work .cell {
    padding-top: 0vw;
    padding-right: 4.53333333vw;
    padding-bottom: 0vw;
    padding-left: 4.8vw;
    box-sizing: border-box;
  }
  .container .wrap article section.work .cell .img-wrap {
    width: 90.66666667vw;
    height: 58.66666667vw;
    position: relative;
  }
  .container .wrap article section.work .cell .img-wrap img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.work .cell .img-wrap p {
    font-size: 7.46666667vw;
    line-height: 6.93333333vw;
    color: #fff;
    text-align: center;
    width: 53.33333333vw;
    height: 16vw;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -8vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -26.66666667vw;
    text-transform: uppercase;
  }
  .container .wrap article section.work .cell .t-wrap {
    padding-top: 5.33333333vw;
    padding-right: 6.66666667vw;
    padding-bottom: 10.66666667vw;
    padding-left: 3.2vw;
    box-sizing: border-box;
  }
  .container .wrap article section.work .cell .t-wrap p {
    font-family: 'Pretendard Variable', sans-serif;
    text-align: left;
  }
  .container .wrap article section.work .cell .t-wrap p.tit {
    font-size: 4.8vw;
    line-height: 5.86666667vw;
    margin-bottom: 3.2vw;
  }
  .container .wrap article section.work .cell .t-wrap p.txt {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    white-space: nowrap;
  }
  .container .wrap article section.recruit {
    background-color: #222;
    padding-top: 59.46666667vw;
    padding-right: 0vw;
    padding-bottom: 33.06666667vw;
    padding-left: 0vw;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
  }
  .container .wrap article section.recruit h3 {
    font-size: 13.86666667vw;
    line-height: 12.8vw;
    text-align: center;
    color: #fafafa;
    width: 100%;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -29.33333333vw;
  }
  .container .wrap article section.recruit .txt {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    color: #fff;
    text-align: center;
    font-family: 'Pretendard Variable', sans-serif;
    width: 100%;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 26.13333333vw;
  }
  .container .wrap article section.recruit .recruit-btn {
    font-size: 3.73333333vw;
    color: #fff;
    text-align: center;
    width: 32vw;
    height: 13.86666667vw;
    line-height: 13.86666667vw;
    display: inline-block;
    border-radius: 50% 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 42.13333333vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -16vw;
  }
  .container .wrap article section.recruit .recruit-btn:hover {
    font-weight: 500;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
  }
  .container .wrap article section.recruit .chats .c-wrap {
    position: absolute;
    top: 50%;
  }
  .container .wrap article section.recruit .chats .c-wrap p {
    font-size: 3.2vw;
    font-family: 'Pretendard Variable', sans-serif;
    color: #fafafa;
    position: relative;
    z-index: 1;
    padding-top: 1.6vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 3.2vw;
    box-sizing: border-box;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1 {
    left: 10.93333333vw;
    margin-top: -40.53333333vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap1:after {
    content: '';
    display: block;
    width: 24vw;
    height: 9.86666667vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/chat-1.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2 {
    left: 42.4vw;
    margin-top: -37.06666667vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap2:after {
    content: '';
    display: block;
    width: 51.2vw;
    height: 10.13333333vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/chat-2.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3 {
    left: 4.8vw;
    margin-top: -8vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap3:after {
    content: '';
    display: block;
    width: 37.33333333vw;
    height: 10.13333333vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/chat-3.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4 {
    left: 71.2vw;
    margin-top: -8vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap4:after {
    content: '';
    display: block;
    width: 24vw;
    height: 10.13333333vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/chat-4.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5 {
    left: 58.66666667vw;
    margin-top: 10.13333333vw;
  }
  .container .wrap article section.recruit .chats .c-wrap.c-wrap5:after {
    content: '';
    display: block;
    width: 26.66666667vw;
    height: 10.13333333vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/chat-5.png');
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article section.recruit .btm {
    width: 43.2vw;
    height: 1.33333333vw;
    position: absolute;
    left: 50.93333333vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -16vw;
    opacity: 0;
  }
  .container .wrap article section.recruit .btm svg {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.recruit .arrow {
    width: 27.73333333vw;
    height: 26.93333333vw;
    position: absolute;
    left: 3.73333333vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 30.66666667vw;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }
  .container .wrap article section.recruit .arrow svg {
    width: 100%;
    height: 100%;
  }
  .container .wrap article section.recruit.active .btm,
  .container .wrap article section.recruit.active .arrow {
    opacity: 1;
  }
  .container .wrap article section.contact {
    background-color: #8e2626;
    height: 69.33333333vw;
    overflow: hidden;
    padding-top: 1.6vw;
    box-sizing: border-box;
  }
  .container .wrap article section.contact:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 0.26666667vw;
    height: 100%;
    background-color: #fff;
    margin-left: -0.26666667vw;
    opacity: 0.5;
    z-index: 1;
  }
  .container .wrap article section.contact .cell {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding-left: 4.8vw;
    box-sizing: border-box;
  }
  .container .wrap article section.contact .cell p {
    text-transform: uppercase;
  }
  .container .wrap article section.contact .cell p.tit {
    font-size: 4.8vw;
    color: #eee;
    line-height: 5.33333333vw;
    font-weight: 500;
    margin-top: 6.4vw;
    margin-right: 0vw;
    margin-bottom: 2.13333333vw;
    margin-left: 0vw;
  }
  .container .wrap article section.contact .cell p.txt {
    font-size: 3.2vw;
    line-height: 4.26666667vw;
    color: #fafafa;
    font-family: 'Pretendard Variable', sans-serif;
  }
  .container .wrap article section.contact .cell a {
    font-size: 3.73333333vw;
    color: #fafafa;
    opacity: 0.8;
    text-transform: uppercase;
    margin-bottom: 1.06666667vw;
    display: block;
  }
  .container .wrap article section.contact .cell a span {
    width: 3.2vw;
    height: 3.2vw;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('../img/mo/arrow.svg');
    background-size: contain;
  }
  .container .wrap article section.contact .cell a:last-child {
    margin-bottom: 0vw;
  }
  .container .wrap article section.contact .cell .tel,
  .container .wrap article section.contact .cell .fax {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    color: #fafafa;
    opacity: 0.8;
    margin-bottom: 1.06666667vw;
    text-transform: none;
  }
  .container .wrap article section.contact .cell .tel s,
  .container .wrap article section.contact .cell .fax s {
    display: inline-block;
    width: 9.6vw;
  }
  .container .wrap article section.contact .copy {
    font-size: 3.2vw;
    line-height: 4.26666667vw;
    color: #fafafa;
    opacity: 0.8;
    position: absolute;
    left: 54.93333333vw;
    top: 50.13333333vw;
    right: auto;
    bottom: auto;
    text-indent: -3.46666667vw;
    margin-left: 3.46666667vw;
    display: inline-block;
    width: 50%;
    text-align: left;
  }
  .container .wrap .popup {
    position: fixed;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 20;
    overflow: auto;
  }
  .container .wrap .popup .pop-inner {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper {
    width: 100vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide {
    padding-top: 18.66666667vw;
    padding-right: 0vw;
    padding-bottom: 34.13333333vw;
    padding-left: 0vw;
    box-sizing: border-box;
    text-align: left;
    zoom: 1;
    background-color: #8e2626;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide h3 {
    font-size: 8.53333333vw;
    line-height: 10.4vw;
    color: #fff;
    margin-bottom: 6.4vw;
    padding-left: 4.8vw;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p {
    color: #fff;
    padding-left: 4.8vw;
    box-sizing: border-box;
    font-family: 'Pretendard Variable', sans-serif;
    text-transform: uppercase;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p.tit {
    font-size: 6.4vw;
    font-weight: 500;
    line-height: 6.93333333vw;
    margin-bottom: 3.2vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p.sub-tit {
    font-size: 4.8vw;
    line-height: 5.86666667vw;
    margin-bottom: 2.13333333vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .t-wrap p.txt {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    color: #ccc;
    margin-bottom: 8vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .graphic {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 5.33333333vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .graphic .cell {
    width: 26.66666667vw;
    height: 26.66666667vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide .graphic .cell p {
    font-size: 3.2vw;
    font-weight: 500;
    font-family: 'Pretendard Variable', sans-serif;
    color: #fff;
    width: 26.66666667vw;
    height: 8.53333333vw;
    line-height: 8.53333333vw;
    position: absolute;
    left: 0vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: -4vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 .graphic {
    width: 100vw;
    height: 75.2vw;
    background-image: url('../img/mo/graphic-1.svg');
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 .graphic .cell {
    margin-top: 5.33333333vw;
    margin-right: 2.66666667vw;
    margin-bottom: 5.33333333vw;
    margin-left: 2.66666667vw;
    display: inline-block;
    position: relative;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 .graphic .cell.cell5 p {
    line-height: 4.26666667vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide1 span {
    font-size: 3.2vw;
    color: #eee;
    float: right;
    padding-right: 4.8vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic {
    width: 85.33333333vw;
    height: 112vw;
    background-image: url('../img/mo/graphic-2.svg');
    position: relative;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell {
    position: absolute;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell1 {
    left: 29.33333333vw;
    top: 5.33333333vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell2 {
    left: 58.66666667vw;
    top: 25.33333333vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell2 p {
    line-height: 4.26666667vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell3 {
    left: 58.66666667vw;
    top: 60vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell4 {
    left: 28.26666667vw;
    top: 80vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell5 {
    left: 0vw;
    top: 60vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell5 p {
    line-height: 4.26666667vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell6 {
    left: 0vw;
    top: 25.33333333vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .graphic .cell.cell6 p {
    line-height: 4.26666667vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best {
    margin-top: 5.33333333vw;
    padding-top: 0vw;
    padding-right: 4.8vw;
    padding-bottom: 0vw;
    padding-left: 4.8vw;
    box-sizing: border-box;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best .sub-tit {
    font-size: 4.8vw;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 4.26666667vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li {
    display: inline-block;
    text-align: left;
    width: 33.3%;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li .tit,
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li .txt {
    font-size: 3.73333333vw;
    line-height: 5.33333333vw;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.06666667vw;
    padding-left: 0vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide2 .best ul li .txt {
    font-weight: 400;
    color: #ccc;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic {
    width: 80vw;
    height: 90.66666667vw;
    background-image: url('../img/mo/graphic-3.svg');
    position: relative;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell {
    position: absolute;
    padding-top: 6.4vw;
    box-sizing: border-box;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell p {
    line-height: 4.26666667vw;
    position: relative;
    height: auto;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    margin-top: 0vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell p:nth-child(1) {
    margin-bottom: 1.06666667vw;
    font-weight: 700;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell p:nth-child(2) {
    color: #ccc;
    font-weight: 500;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell1 {
    left: 0vw;
    top: 5.33333333vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell2 {
    left: 53.33333333vw;
    top: 5.33333333vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell3 {
    left: 26.66666667vw;
    top: 32vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell4 {
    left: 0vw;
    top: 58.66666667vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-slide.slide3 .graphic .cell.cell5 {
    left: 53.33333333vw;
    top: 58.66666667vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-pagination {
    bottom: 18.66666667vw;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 2.13333333vw;
    height: 2.13333333vw;
    border: 1px solid #fff;
    background-color: #8e2626;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 0vw;
    margin-right: 3.2vw;
    margin-bottom: 0vw;
    margin-left: 3.2vw;
    opacity: 1;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
  }
  .container .wrap .popup .pop-inner .pop-swiper .swiper-button {
    display: none !important;
  }
  .container .wrap .popup .pop-inner .pop-close {
    width: 6.93333333vw;
    height: 6.93333333vw;
    position: fixed;
    right: 4.8vw;
    top: 5.33333333vw;
    left: auto;
    bottom: auto;
    z-index: 5;
  }
  .container .wrap .popup .pop-inner .pop-close img {
    width: 100%;
    height: 100%;
  }
  .container .wrap .popup.dw .pop-inner .pop-close {
    top: -12.26666667vw;
    transition: top 0.5s 0.1s;
  }
  .container .wrap .popup.up .pop-inner .pop-close {
    top: 5.33333333vw;
    transition: top 0.5s 0.1s;
  }
  .container .wrap .popup.open {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */